-var navList = [{type:'', name:'Видео', link: 'video.html'}, {type:'', name:'Конкурс', link: 'test.html'}, {type:'', name:'Правила', link: 'rules.html'}, {type:'prize-toggle', name:'Призы', link: '#'}, {type:'planer', name:'Планер', link: 'planer.html'}, {type: 'winner-toggle', name: 'Победители', link: '#'}];

header.header
    .header__logo
        a(href="index.html" target="_self").header__logo-link
            img(src="static/images/content/main-logo.svg" alt="Снова в школу!").header__logo-img
    button(type="button").header__toggle.js-toggle

    nav.header__nav.nav
        ul.nav__list
            for i in navList
                li(class="nav__item " +i.type)
                    a(href="" +i.link target="_self").nav__link=i.name
                    
        a(href="#" target="_self").nav__login Войти
        a(href="#" target="_self").nav__login.login-desktop Войти через
        
        ul.nav__social
            li.social__item
                a(href="#" target="_blank").social__link.social__link--in
            li.social__item
                a(href="#" target="_blank").social__link.social__link--vk
            li.social__item
                a(href="#" target="_blank").social__link.social__link--yt
