.popup-prize
    .popup-prize__wrapper
        a(href="#" target="_blank").popup-prize__link
            img(src="static/images/content/kion.svg" alt="KION").popup-prize__logo
        button(type="button").popup-prize__closer
        picture.popup-prize__frame
            source(srcset="static/images/content/prize.webp" type="image/webp")
            img(src="static/images/content/prize.png" alt="Приз").popup-prize__frame-pic
        p.popup-prize__description Участвуй в конкурсе и выигрывай призы от МТС и Nickelodeon
