.popup-winner
    .popup-winner__wrapper
        button(type="button").popup-winner__closer
        h2.popup-winner__title Главный победитель
        b.popup-winner__main Иван Иванов (г. Москва)
        h3.popup-winner__subtitle Победители дня:
        ul.popup-winner__list
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
                
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
                
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
                
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
            li.popup-winner__item
                b.popup-winner__name Ярослав
                span.popup-winner__city г. Краснодар
