.essay {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    background-color: $pink;
    padding: 1.5rem 1.125rem 1.5rem 1.125rem;

    margin-top: 1.625rem;
    margin-bottom: 1.375rem;

    position: relative;

    &::after {
        position: absolute;
        content: '';

        width: 52px;
        height: 48px;

        background-image: url('../images/content/pin.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        top: -1.5rem;
        left: 1.25rem;
        z-index: -1;
    }

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        position: relative;

        &.passed {
            .essay__title {
                display: none;
            }

            .essay__reaction {
                opacity: 1;
                visibility: visible;

                transition: 0.4s ease-in;
            }

            .essay__textarea {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }

            .essay__submit {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
        }

        &::after {
            position: absolute;
            content: '';

            width: 66px;
            height: 119px;

            background-image: url('../images/content/colmar.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            bottom: -5rem;
            left: 0;
        }

        &::before {
            position: absolute;
            content: '';

            width: 60px;
            height: 60px;

            background-image: url('../images/content/pens.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: -3.5rem;
            right: -1.5rem;
        }
    }

    &__title {
        @include font-setting($title-font, 0.8125rem, 0.9375rem, 800, $light-black);
        text-transform: uppercase;
        text-align: center;

        margin-bottom: 1rem;
    }

    &__form {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__textarea {
        width: 100%;
        height: 260px;

        resize: none;

        @include font-setting($primary-font, 0.75rem, 0.875rem, 500, $light-black);

        text-align: left;
        cursor: text;
        outline: none;

        padding: 0.9375rem 0.75rem;
        margin-bottom: 1.25rem;

        border: 2px solid $light-black;
        transition: 0.3s ease-in;

        &:active {
            border-color: $violet;
            transition: 0.3s ease-in;
        }
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.875rem, 1.0625rem, 700, $light-black);

        background-color: $green;
        border: 2px solid $light-black;
        border-radius: 40px;

        padding: 0.625rem 1.75rem 0.625rem 1.75rem;

        cursor: pointer;
        outline: none;

        transition: 0.3s ease-in;

        &:hover,
        &:active {
            background-color: $white;
            transition: 0.3s ease-in;
        }
    }

    &__reaction {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        @include flex-setting(column, center, center);

        &-title {
            @include font-setting($title-font, 1.25rem, 1.5rem, 800, $light-black);
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@include min-screen(768px) {
    .essay {
        padding: 0;
        background-color: transparent;

        margin-top: 1rem;
        margin-bottom: 1.375rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 52px;
            height: 48px;

            background-image: url('../images/content/pin.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: -1.5rem;
            left: 1.25rem;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: '';

            width: 185px;
            height: 175px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/content/bob-book.svg');

            left: 1rem;
            bottom: -5rem;

            z-index: 5;
        }

        &__wrapper {
            width: 100%;
            max-width: 494px;
            background-color: $pink;
            border: 2px solid $light-black;

            padding: 1.375rem 3rem 2rem 3rem;

            &::after {
                width: 102px;
                height: 184px;

                bottom: auto;
                left: auto;
                top: 1rem;
                right: -8rem;
            }

            &::before {
                position: absolute;
                content: '';

                width: 140px;
                height: 140px;

                transform: scaleX(-1);

                top: -5rem;
                right: auto;
                left: -11rem;
            }
        }

        &__title {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            margin-bottom: 0.9375rem;
        }

        &__textarea {
            height: 376px;
            font-size: 1rem;
            line-height: 1.1875rem;

            padding: 0.9375rem 1.75rem;
            margin-bottom: 1.625rem;
        }

        &__submit {
            font-size: 1rem;
            line-height: 1.1875rem;
            height: 54px;

            padding: 0 4.5rem;
        }

        &__reaction {
            &-title {
                font-size: 1.5rem;
                line-height: 1.222;
            }
        }
    }
}

@include min-screen(1366px) {
    .essay {
        align-items: flex-start;
        --width: calc(100% - 582px);
        padding-left: calc(var(--width) / 2);

        margin-top: 0;
        margin-bottom: 0;

        &::after {
            background-image: url('../images/content/colmar.svg');
            width: 111px;
            height: 201px;
            top: 35%;
            transform: translateY(-50%);
            left: 7rem;
            z-index: -1;
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='166' height='137' viewBox='0 0 166 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M151.028 9.59659C151.028 12.2439 153.024 14.2294 155.685 14.2294C158.347 14.2294 160.343 12.2439 160.343 9.59659C160.343 6.94925 158.347 4.96374 155.685 4.96374C153.024 4.63282 151.028 6.94925 151.028 9.59659Z' fill='%23FF7DAF'/%3E%3Cpath d='M155.685 19.1932C161.013 19.1932 165.332 14.8967 165.332 9.59662C165.332 4.29655 161.013 0 155.685 0C150.357 0 146.038 4.29655 146.038 9.59662C146.038 14.8967 150.357 19.1932 155.685 19.1932Z' fill='%23FF7DAF'/%3E%3Cpath d='M120.091 9.59659C120.091 12.2439 122.087 14.2294 124.748 14.2294C127.409 14.2294 129.405 12.2439 129.405 9.59659C129.405 6.94925 127.409 4.96374 124.748 4.96374C122.087 4.63282 120.091 6.94925 120.091 9.59659Z' fill='%23FF7DAF'/%3E%3Cpath d='M124.415 18.8623C119.093 18.8623 114.768 14.5604 114.768 9.2657C114.768 3.97101 119.425 0 124.415 0C129.738 0 134.062 4.30193 134.062 9.59662C134.062 14.8913 129.738 18.8623 124.415 18.8623Z' fill='%23FF7DAF'/%3E%3Cpath d='M90.8167 9.59659C90.8167 12.2439 92.8126 14.2294 95.4739 14.2294C98.1352 14.2294 100.131 12.2439 100.131 9.59659C100.131 6.94925 98.1352 4.96374 95.4739 4.96374C92.8126 4.63282 90.8167 6.94925 90.8167 9.59659Z' fill='%23FF7DAF'/%3E%3Cpath d='M95.4738 19.1932C100.802 19.1932 105.121 14.8967 105.121 9.59662C105.121 4.29655 100.802 0 95.4738 0C90.1459 0 85.8267 4.29655 85.8267 9.59662C85.8267 14.8967 90.1459 19.1932 95.4738 19.1932Z' fill='%23FF7DAF'/%3E%3Cpath d='M61.5425 9.59659C61.5425 12.2439 63.5384 14.2294 66.1997 14.2294C68.861 14.2294 70.857 12.2439 70.857 9.59659C70.857 6.94925 68.861 4.96374 66.1997 4.96374C63.5384 4.63282 61.5425 6.94925 61.5425 9.59659Z' fill='%23FF7DAF'/%3E%3Cpath d='M66.1997 19.1932C71.5277 19.1932 75.8468 14.8967 75.8468 9.59662C75.8468 4.29655 71.5277 0 66.1997 0C60.8717 0 56.5525 4.29655 56.5525 9.59662C56.5525 14.8967 60.8717 19.1932 66.1997 19.1932Z' fill='%23FF7DAF'/%3E%3Cpath d='M32.9333 9.59659C32.9333 12.2439 34.9293 14.2294 37.5906 14.2294C40.2519 14.2294 42.2479 12.2439 42.2479 9.59659C42.2479 6.94925 40.2519 4.96374 37.5906 4.96374C35.262 4.63282 32.9333 6.94925 32.9333 9.59659Z' fill='%23FF7DAF'/%3E%3Cpath d='M37.5905 19.1932C42.9185 19.1932 47.2377 14.8967 47.2377 9.59662C47.2377 4.29655 42.9185 0 37.5905 0C32.2626 0 27.9434 4.29655 27.9434 9.59662C27.9434 14.8967 32.2626 19.1932 37.5905 19.1932Z' fill='%23FF7DAF'/%3E%3Cpath d='M4.98999 9.59659C4.98999 12.2439 6.98596 14.2294 9.64725 14.2294C12.3085 14.2294 14.3045 12.2439 14.3045 9.59659C14.3045 6.94925 12.3085 4.96374 9.64725 4.96374C6.98596 4.63282 4.98999 6.94925 4.98999 9.59659Z' fill='%23FF7DAF'/%3E%3Cpath d='M9.64718 18.8623C4.3246 18.8623 0 14.5604 0 9.59662C0 4.63285 4.3246 0 9.64718 0C14.9698 0 19.2944 4.30193 19.2944 9.59662C19.2944 14.8913 14.6371 18.8623 9.64718 18.8623Z' fill='%23FF7DAF'/%3E%3Cpath d='M151.028 39.7101C151.028 42.3575 153.024 44.343 155.685 44.343C158.347 44.343 160.343 42.3575 160.343 39.7101C160.343 37.0628 158.347 35.0773 155.685 35.0773C153.024 34.7464 151.028 37.0628 151.028 39.7101Z' fill='%23FF7DAF'/%3E%3Cpath d='M155.685 49.3067C161.013 49.3067 165.332 45.0101 165.332 39.7101C165.332 34.41 161.013 30.1135 155.685 30.1135C150.357 30.1135 146.038 34.41 146.038 39.7101C146.038 45.0101 150.357 49.3067 155.685 49.3067Z' fill='%23FF7DAF'/%3E%3Cpath d='M120.091 39.7102C120.091 42.3575 122.087 44.343 124.748 44.343C127.409 44.343 129.405 42.3575 129.405 39.7102C129.405 37.0628 127.409 35.0773 124.748 35.0773C122.087 34.7464 120.091 37.0628 120.091 39.7102Z' fill='%23FF7DAF'/%3E%3Cpath d='M124.415 48.9758C119.093 48.9758 114.768 44.6739 114.768 39.3792C114.768 34.0845 119.093 29.7826 124.415 29.7826C129.738 29.7826 134.062 34.0845 134.062 39.3792C134.062 44.6739 129.738 48.9758 124.415 48.9758Z' fill='%23FF7DAF'/%3E%3Cpath d='M90.8167 39.7101C90.8167 42.3575 92.8126 44.343 95.4739 44.343C98.1352 44.343 100.131 42.3575 100.131 39.7101C100.131 37.0628 98.1352 35.0773 95.4739 35.0773C92.8126 34.7464 90.8167 37.0628 90.8167 39.7101Z' fill='%23FF7DAF'/%3E%3Cpath d='M95.4738 49.3067C100.802 49.3067 105.121 45.0101 105.121 39.7101C105.121 34.41 100.802 30.1135 95.4738 30.1135C90.1459 30.1135 85.8267 34.41 85.8267 39.7101C85.8267 45.0101 90.1459 49.3067 95.4738 49.3067Z' fill='%23FF7DAF'/%3E%3Cpath d='M61.5425 39.7101C61.5425 42.3575 63.5384 44.343 66.1997 44.343C68.861 44.343 70.857 42.3575 70.857 39.7101C70.857 37.0628 68.861 35.0773 66.1997 35.0773C63.5384 34.7464 61.5425 37.0628 61.5425 39.7101Z' fill='%23FF7DAF'/%3E%3Cpath d='M66.1997 49.3067C71.5277 49.3067 75.8468 45.0101 75.8468 39.7101C75.8468 34.41 71.5277 30.1135 66.1997 30.1135C60.8717 30.1135 56.5525 34.41 56.5525 39.7101C56.5525 45.0101 60.8717 49.3067 66.1997 49.3067Z' fill='%23FF7DAF'/%3E%3Cpath d='M32.9333 39.7101C32.9333 42.3575 34.9293 44.343 37.5906 44.343C40.2519 44.343 42.2479 42.3575 42.2479 39.7101C42.2479 37.0628 40.2519 35.0773 37.5906 35.0773C35.262 34.7464 32.9333 37.0628 32.9333 39.7101Z' fill='%23FF7DAF'/%3E%3Cpath d='M37.5905 49.3067C42.9185 49.3067 47.2377 45.0101 47.2377 39.7101C47.2377 34.41 42.9185 30.1135 37.5905 30.1135C32.2626 30.1135 27.9434 34.41 27.9434 39.7101C27.9434 45.0101 32.2626 49.3067 37.5905 49.3067Z' fill='%23FF7DAF'/%3E%3Cpath d='M4.98999 39.7101C4.98999 42.3575 6.98596 44.343 9.64725 44.343C12.3085 44.343 14.3045 42.3575 14.3045 39.7101C14.3045 37.0628 12.3085 35.0773 9.64725 35.0773C6.98596 34.7464 4.98999 37.0628 4.98999 39.7101Z' fill='%23FF7DAF'/%3E%3Cpath d='M9.64718 48.9758C4.3246 48.9758 0 44.6738 0 39.7101C0 34.7463 4.3246 30.1135 9.64718 30.1135C14.9698 30.1135 19.2944 34.4154 19.2944 39.7101C19.2944 45.0048 14.6371 48.9758 9.64718 48.9758Z' fill='%23FF7DAF'/%3E%3Cpath d='M151.028 69.1618C151.028 71.8091 153.024 73.7946 155.685 73.7946C158.347 73.7946 160.343 71.8091 160.343 69.1618C160.343 66.5144 158.347 64.5289 155.685 64.5289C153.024 64.5289 151.028 66.5144 151.028 69.1618Z' fill='%23FF7DAF'/%3E%3Cpath d='M155.685 78.7584C161.013 78.7584 165.332 74.4619 165.332 69.1618C165.332 63.8617 161.013 59.5652 155.685 59.5652C150.357 59.5652 146.038 63.8617 146.038 69.1618C146.038 74.4619 150.357 78.7584 155.685 78.7584Z' fill='%23FF7DAF'/%3E%3Cpath d='M120.091 69.1618C120.091 71.8091 122.087 73.7946 124.748 73.7946C127.409 73.7946 129.405 71.8091 129.405 69.1618C129.405 66.5144 127.409 64.5289 124.748 64.5289C122.087 64.5289 120.091 66.5144 120.091 69.1618Z' fill='%23FF7DAF'/%3E%3Cpath d='M124.415 78.7584C119.093 78.7584 114.768 74.4565 114.768 69.1618C114.768 63.8671 119.093 59.5652 124.415 59.5652C129.738 59.5652 134.062 63.8671 134.062 69.1618C134.062 74.4565 129.738 78.7584 124.415 78.7584Z' fill='%23FF7DAF'/%3E%3Cpath d='M90.8167 69.1618C90.8167 71.8091 92.8126 73.7946 95.4739 73.7946C98.1352 73.7946 100.131 71.8091 100.131 69.1618C100.131 66.5144 98.1352 64.5289 95.4739 64.5289C92.8126 64.5289 90.8167 66.5144 90.8167 69.1618Z' fill='%23FF7DAF'/%3E%3Cpath d='M95.4738 78.7584C100.802 78.7584 105.121 74.4619 105.121 69.1618C105.121 63.8617 100.802 59.5652 95.4738 59.5652C90.1459 59.5652 85.8267 63.8617 85.8267 69.1618C85.8267 74.4619 90.1459 78.7584 95.4738 78.7584Z' fill='%23FF7DAF'/%3E%3Cpath d='M61.5425 69.1618C61.5425 71.8091 63.5384 73.7946 66.1997 73.7946C68.861 73.7946 70.857 71.8091 70.857 69.1618C70.857 66.5144 68.861 64.5289 66.1997 64.5289C63.5384 64.5289 61.5425 66.5144 61.5425 69.1618Z' fill='%23FF7DAF'/%3E%3Cpath d='M66.1997 78.7584C71.5277 78.7584 75.8468 74.4619 75.8468 69.1618C75.8468 63.8617 71.5277 59.5652 66.1997 59.5652C60.8717 59.5652 56.5525 63.8617 56.5525 69.1618C56.5525 74.4619 60.8717 78.7584 66.1997 78.7584Z' fill='%23FF7DAF'/%3E%3Cpath d='M32.9333 69.1618C32.9333 71.8091 34.9293 73.7946 37.5906 73.7946C40.2519 73.7946 42.2479 71.8091 42.2479 69.1618C42.2479 66.5144 40.2519 64.5289 37.5906 64.5289C35.262 64.5289 32.9333 66.5144 32.9333 69.1618Z' fill='%23FF7DAF'/%3E%3Cpath d='M37.5905 78.7584C42.9185 78.7584 47.2377 74.4619 47.2377 69.1618C47.2377 63.8617 42.9185 59.5652 37.5905 59.5652C32.2626 59.5652 27.9434 63.8617 27.9434 69.1618C27.9434 74.4619 32.2626 78.7584 37.5905 78.7584Z' fill='%23FF7DAF'/%3E%3Cpath d='M4.98999 69.1618C4.98999 71.8091 6.98596 73.7946 9.64725 73.7946C12.3085 73.7946 14.3045 71.8091 14.3045 69.1618C14.3045 66.5144 12.3085 64.5289 9.64725 64.5289C6.98596 64.5289 4.98999 66.5144 4.98999 69.1618Z' fill='%23FF7DAF'/%3E%3Cpath d='M9.64718 78.7584C4.3246 78.7584 0 74.4565 0 69.1618C0 63.8671 4.3246 59.5652 9.64718 59.5652C14.9698 59.5652 19.2944 63.8671 19.2944 69.1618C19.2944 74.4565 14.6371 78.7584 9.64718 78.7584Z' fill='%23FF7DAF'/%3E%3Cpath d='M151.028 98.2827C151.028 100.93 153.024 102.916 155.685 102.916C158.347 102.916 160.343 100.93 160.343 98.2827C160.343 95.6354 158.347 93.6498 155.685 93.6498C153.024 93.6498 151.028 95.6354 151.028 98.2827Z' fill='%23FF7DAF'/%3E%3Cpath d='M155.685 107.879C161.013 107.879 165.332 103.583 165.332 98.2827C165.332 92.9827 161.013 88.6861 155.685 88.6861C150.357 88.6861 146.038 92.9827 146.038 98.2827C146.038 103.583 150.357 107.879 155.685 107.879Z' fill='%23FF7DAF'/%3E%3Cpath d='M120.091 98.2827C120.091 100.93 122.087 102.916 124.748 102.916C127.409 102.916 129.405 100.93 129.405 98.2827C129.405 95.6354 127.409 93.6498 124.748 93.6498C122.087 93.6498 120.091 95.6354 120.091 98.2827Z' fill='%23FF7DAF'/%3E%3Cpath d='M124.415 107.879C119.093 107.879 114.768 103.577 114.768 98.2827C114.768 92.988 119.093 88.6861 124.415 88.6861C129.738 88.6861 134.062 92.988 134.062 98.2827C134.062 103.577 129.738 107.879 124.415 107.879Z' fill='%23FF7DAF'/%3E%3Cpath d='M90.8167 98.2827C90.8167 100.93 92.8126 102.916 95.4739 102.916C98.1352 102.916 100.131 100.93 100.131 98.2827C100.131 95.6354 98.1352 93.6498 95.4739 93.6498C92.8126 93.6498 90.8167 95.6354 90.8167 98.2827Z' fill='%23FF7DAF'/%3E%3Cpath d='M95.4738 107.879C100.802 107.879 105.121 103.583 105.121 98.2827C105.121 92.9827 100.802 88.6861 95.4738 88.6861C90.1459 88.6861 85.8267 92.9827 85.8267 98.2827C85.8267 103.583 90.1459 107.879 95.4738 107.879Z' fill='%23FF7DAF'/%3E%3Cpath d='M61.5425 98.2827C61.5425 100.93 63.5384 102.916 66.1997 102.916C68.861 102.916 70.857 100.93 70.857 98.2827C70.857 95.6354 68.861 93.6498 66.1997 93.6498C63.5384 93.6498 61.5425 95.6354 61.5425 98.2827Z' fill='%23FF7DAF'/%3E%3Cpath d='M66.1997 107.879C71.5277 107.879 75.8468 103.583 75.8468 98.2827C75.8468 92.9827 71.5277 88.6861 66.1997 88.6861C60.8717 88.6861 56.5525 92.9827 56.5525 98.2827C56.5525 103.583 60.8717 107.879 66.1997 107.879Z' fill='%23FF7DAF'/%3E%3Cpath d='M32.9333 98.2827C32.9333 100.93 34.9293 102.916 37.5906 102.916C40.2519 102.916 42.2479 100.93 42.2479 98.2827C42.2479 95.6354 40.2519 93.6498 37.5906 93.6498C35.262 93.6498 32.9333 95.6354 32.9333 98.2827Z' fill='%23FF7DAF'/%3E%3Cpath d='M37.5905 107.879C42.9185 107.879 47.2377 103.583 47.2377 98.2827C47.2377 92.9827 42.9185 88.6861 37.5905 88.6861C32.2626 88.6861 27.9434 92.9827 27.9434 98.2827C27.9434 103.583 32.2626 107.879 37.5905 107.879Z' fill='%23FF7DAF'/%3E%3Cpath d='M4.98999 98.2827C4.98999 100.93 6.98596 102.916 9.64725 102.916C12.3085 102.916 14.3045 100.93 14.3045 98.2827C14.3045 95.6354 12.3085 93.6498 9.64725 93.6498C6.98596 93.6498 4.98999 95.6354 4.98999 98.2827Z' fill='%23FF7DAF'/%3E%3Cpath d='M9.64718 107.879C4.3246 107.879 0 103.577 0 98.2827C0 92.988 4.3246 88.6861 9.64718 88.6861C14.9698 88.6861 19.2944 92.988 19.2944 98.2827C18.9617 103.577 14.6371 107.879 9.64718 107.879Z' fill='%23FF7DAF'/%3E%3Cpath d='M151.028 127.403C151.028 130.051 153.024 132.036 155.685 132.036C158.347 132.036 160.343 130.051 160.343 127.403C160.343 124.756 158.347 122.77 155.685 122.77C153.024 122.77 151.028 124.756 151.028 127.403Z' fill='%23FF7DAF'/%3E%3Cpath d='M155.685 137C161.013 137 165.332 132.703 165.332 127.403C165.332 122.103 161.013 117.807 155.685 117.807C150.357 117.807 146.038 122.103 146.038 127.403C146.038 132.703 150.357 137 155.685 137Z' fill='%23FF7DAF'/%3E%3Cpath d='M120.091 127.403C120.091 130.051 122.087 132.036 124.748 132.036C127.409 132.036 129.405 130.051 129.405 127.403C129.405 124.756 127.409 122.77 124.748 122.77C122.087 122.77 120.091 124.756 120.091 127.403Z' fill='%23FF7DAF'/%3E%3Cpath d='M124.415 137C119.093 137 114.768 132.698 114.768 127.403C114.768 122.109 119.093 117.807 124.415 117.807C129.738 117.807 134.062 122.109 134.062 127.403C134.062 132.698 129.738 137 124.415 137Z' fill='%23FF7DAF'/%3E%3Cpath d='M90.8167 127.403C90.8167 130.051 92.8126 132.036 95.4739 132.036C98.1352 132.036 100.131 130.051 100.131 127.403C100.131 124.756 98.1352 122.77 95.4739 122.77C92.8126 122.77 90.8167 124.756 90.8167 127.403Z' fill='%23FF7DAF'/%3E%3Cpath d='M95.4738 137C100.802 137 105.121 132.703 105.121 127.403C105.121 122.103 100.802 117.807 95.4738 117.807C90.1459 117.807 85.8267 122.103 85.8267 127.403C85.8267 132.703 90.1459 137 95.4738 137Z' fill='%23FF7DAF'/%3E%3Cpath d='M61.5425 127.403C61.5425 130.051 63.5384 132.036 66.1997 132.036C68.861 132.036 70.857 130.051 70.857 127.403C70.857 124.756 68.861 122.77 66.1997 122.77C63.5384 122.77 61.5425 124.756 61.5425 127.403Z' fill='%23FF7DAF'/%3E%3Cpath d='M66.1997 137C71.5277 137 75.8468 132.703 75.8468 127.403C75.8468 122.103 71.5277 117.807 66.1997 117.807C60.8717 117.807 56.5525 122.103 56.5525 127.403C56.5525 132.703 60.8717 137 66.1997 137Z' fill='%23FF7DAF'/%3E%3Cpath d='M32.9333 127.403C32.9333 130.051 34.9293 132.036 37.5906 132.036C40.2519 132.036 42.2479 130.051 42.2479 127.403C42.2479 124.756 40.2519 122.77 37.5906 122.77C35.262 122.77 32.9333 124.756 32.9333 127.403Z' fill='%23FF7DAF'/%3E%3Cpath d='M37.5905 137C42.9185 137 47.2377 132.703 47.2377 127.403C47.2377 122.103 42.9185 117.807 37.5905 117.807C32.2626 117.807 27.9434 122.103 27.9434 127.403C27.9434 132.703 32.2626 137 37.5905 137Z' fill='%23FF7DAF'/%3E%3Cpath d='M4.98999 127.403C4.98999 130.051 6.98596 132.036 9.64725 132.036C12.3085 132.036 14.3045 130.051 14.3045 127.403C14.3045 124.756 12.3085 122.77 9.64725 122.77C6.98596 122.77 4.98999 124.756 4.98999 127.403Z' fill='%23FF7DAF'/%3E%3Cpath d='M9.64718 137C4.3246 137 0 132.698 0 127.403C0 122.109 4.3246 117.807 9.64718 117.807C14.9698 117.807 19.2944 122.109 19.2944 127.403C19.2944 132.698 14.6371 137 9.64718 137Z' fill='%23FF7DAF'/%3E%3C/svg%3E");

            width: 113px;
            height: 94px;
            left: -0.5rem;
            bottom: 10%;
            transform: translateY(-50%);
        }

        &__wrapper {
            max-width: 532px;
            border-width: 3px;

            padding: 1.6875rem 4.5rem 2rem 4.5rem;

            &::after {
                background-image: url('../images/content/pin.svg');
                width: 92px;
                height: 84px;

                top: -2rem;
                right: -2rem;
            }

            &::before {
                width: 161px;
                height: 152px;
                background-image: url('../images/content/bob-book.svg');
                bottom: 5rem;
                right: -16rem;
                left: auto;
                top: auto;
                transform: scaleX(1);
            }
        }

        &__title {
            font-size: 0.875rem;
            line-height: 1.0625rem;
            margin-bottom: 1.25rem;
            max-width: 350px;
        }

        &__textarea {
            height: 270px;
            border-width: 3px;
            padding: 0.9375rem 1.25rem;
        }

        &__submit {
            font-size: 1rem;
            line-height: 1.1875rem;
            height: 54px;

            padding: 0 4.5rem;
        }

        &__reaction {
            &-title {
                font-size: 1.375rem;
            }
        }
    }
}

@include min-screen(1920px) {
    .essay {
        align-items: flex-start;
        --width: calc(100% - 778px);
        padding-left: calc(var(--width) / 2);

        margin-top: 0;
        margin-bottom: 0;

        &::after {
            width: 163px;
            height: 294px;
            top: 35%;
            left: 12rem;
        }

        &::before {
            width: 165px;
            height: 137px;
            left: -4rem;
            bottom: 0%;
        }

        &__wrapper {
            max-width: 778px;
            padding: 2.875rem 8.0625rem 6.375rem 8.0625rem;

            &::after {
                width: 133px;
                height: 122px;

                top: -3rem;
                right: -3rem;
            }

            &::before {
                width: 236px;
                height: 223px;
                bottom: 10rem;
                right: -20rem;
            }
        }

        &__title {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 1.75rem;
            max-width: 514px;
        }

        &__textarea {
            height: 414px;
            padding: 1.5rem 2rem;

            font-size: 1rem;
            line-height: 1.1875rem;
        }

        &__submit {
            height: 48px;
            padding: 0 3.375rem;
        }

        &__reaction {
            &-title {
                font-size: 1.5rem;
            }
        }
    }
}
