.essay {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    background-color: $pink;
    padding: 1.5rem 1.125rem 1.5rem 1.125rem;

    margin-top: 1.625rem;
    margin-bottom: 1.375rem;

    position: relative;

    &::after {
        position: absolute;
        content: '';

        width: 52px;
        height: 48px;

        background-image: url('../images/content/pin.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        top: -1.5rem;
        left: 1.25rem;
        z-index: -1;
    }

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        position: relative;

        &.passed {
            .essay__title {
                display: none;
            }

            .essay__reaction {
                opacity: 1;
                visibility: visible;

                transition: 0.4s ease-in;
            }

            .essay__textarea {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
        }

        &::after {
            position: absolute;
            content: '';

            width: 66px;
            height: 119px;

            background-image: url('../images/content/colmar.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            bottom: -5rem;
            left: 0;
        }

        &::before {
            position: absolute;
            content: '';

            width: 60px;
            height: 60px;

            background-image: url('../images/content/pens.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: -3.5rem;
            right: -1.5rem;
        }
    }

    &__title {
        @include font-setting($title-font, 0.8125rem, 0.9375rem, 800, $light-black);
        text-transform: uppercase;
        text-align: center;

        margin-bottom: 1rem;
    }

    &__form {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__textarea {
        width: 100%;
        height: 260px;

        resize: none;

        @include font-setting($primary-font, 0.75rem, 0.875rem, 500, $light-black);

        text-align: left;
        cursor: text;

        padding: 0.9375rem 0.75rem;
        margin-bottom: 1.25rem;

        border: 2px solid $light-black;
    }

    &__submit {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.875rem, 1.0625rem, 700, $light-black);

        background-color: $green;
        border: 2px solid $light-black;
        border-radius: 40px;

        padding: 0.625rem 1.75rem 0.625rem 1.75rem;

        cursor: pointer;
        outline: none;
    }

    &__reaction {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        @include flex-setting(column, center, center);

        &-title {
            @include font-setting($title-font, 1.25rem, 1.5rem, 800, $light-black);
            text-align: center;
            text-transform: uppercase;
        }
    }
}

@include min-screen(768px) {
    .essay {
        padding: 0;
        background-color: transparent;

        margin-top: rem;
        margin-bottom: 1.375rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 52px;
            height: 48px;

            background-image: url('../images/content/pin.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: -1.5rem;
            left: 1.25rem;
            z-index: -1;
        }

        &::before {
            position: absolute;
            content: '';

            width: 185px;
            height: 175px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/content/bob-book.svg');

            left: 1rem;
            bottom: -5rem;
        }

        &__wrapper {
            width: 100%;
            max-width: 494px;
            background-color: $pink;
            border: 2px solid $light-black;

            padding: 1.375rem 3rem 2rem 3rem;

            &::after {
                width: 102px;
                height: 184px;

                bottom: auto;
                left: auto;
                top: 1rem;
                right: -8rem;
            }

            &::before {
                position: absolute;
                content: '';

                width: 140px;
                height: 140px;

                transform: scaleX(-1);

                top: -5rem;
                right: auto;
                left: -11rem;
            }
        }

        &__title {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            margin-bottom: 0.9375rem;
        }

        &__textarea {
            height: 376px;
            font-size: 1rem;
            line-height: 1.1875rem;

            padding: 0.9375rem 1.75rem;
            margin-bottom: 1.625rem;
        }

        &__submit {
            font-size: 1rem;
            line-height: 1.1875rem;
            height: 54px;

            padding: 0 4.5rem;
        }

        &__reaction {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            @include flex-setting(column, center, center);

            &-title {
                @include font-setting($title-font, 1.25rem, 1.5rem, 800, $light-black);
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
