.event {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-bottom: 4.625rem;

    &.passed {
        display: none;
    }

    &__wrapper {
        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($title-font, 0.625rem, 0.75rem, 800, $light-black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0.625rem;
    }

    &__test {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        background-color: #F5F3F3;
        border: 2px solid $black;

        padding: 0.625rem 0.625rem 2.125rem 0.625rem;
        margin-bottom: 1rem;

        &-count {
            @include font-setting('IBM Plex Mono', 0.8125rem, 0.9375rem, 700, $text-orange);
            margin-bottom: 0.5rem;
        }

        &-question {
            @include font-setting($primary-font, 1rem, 1.1875rem, 700, $light-black);
            text-align: center;
            max-width: 70%;
            margin-bottom: 1.25rem;
        }

        &-list {
            width: 100%;
            @include flex-setting(column, flex-start, center);
        }

        &-item {
            width: 100%;
            height: 36px;

            @include flex-setting(column, center, center);

            margin-bottom: 0.75rem;
            padding: 0 0.625rem;

            border: 1px solid $black;
            border-radius: 40px;

            background-color: $white;
            cursor: pointer;
            outline: none;
            transition: 0.4s ease-in;

            &:active,
            &:hover {
                background-color: $green;
                transition: 0.4s ease-in;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-variant {
            @include font-setting($primary-font, 0.6875rem, 0.8125rem, 500, $light-black);
            text-align: center;
        }
    }

    &__info {
        width: 100%;
        max-width: 300px;
        @include flex-setting(column, flex-start, center);

        background-color: $yellow;
        border: 2px solid $light-black;

        padding: 0.9375rem 0.25rem 2.25rem 0.25rem;

        position: relative;

        &::before {
            position: absolute;
            content: '';

            width: 100%;
            height: 100%;

            background-color: #929292;
            border: 2px solid #272727;
            z-index: -4;
            left: -0.5rem;
            bottom: -0.875rem;
        }

        &::after {
            position: absolute;
            content: '';

            width: 55px;
            height: 62px;

            background-image: url('../images/content/lily.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            bottom: -2rem;
            right: 0.5rem;
        }
    }

    &__subtitle {
        @include font-setting($title-font, 0.8125rem, 1rem, 800, $light-black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0.625rem;
    }

    &__description {
        @include font-setting($primary-font, 0.8125rem, 0.9375rem, 700, $light-black);
        text-align: center;
        max-width: 86%;

        position: relative;


        &::after {
            position: absolute;
            content: '';

            width: 44px;
            height: 101px;

            background-image: url('../images/content/ollie.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            bottom: -5rem;
            left: -1.5rem;
        }
    }
}

@include min-screen(768px) {
    .event {
        padding: 0;
        margin-bottom: 0rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 96px;
            height: 218px;

            background-image: url('../images/content/ollie.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            top: 45%;
            transform: translateY(-50%);
            left: 1rem;
        }

        &::before {
            position: absolute;
            content: '';

            width: 101px;
            height: 113px;

            background-image: url('../images/content/lily.png');
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;

            top: 25%;
            right: 1.5rem;
            transform: translateY(-50%);
        }

        &__wrapper {
            @include flex-setting(column, flex-start, center);
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-left: 4.5rem;
            padding-right: 4.5rem;
            background-color: $violet;
            z-index: 3;
        }

        &__title {
            display: none;
        }

        &__test {
            max-width: 310px;

            padding: 1.75rem 1.625rem 2.75rem 1.625rem;
            z-index: 4;

            &-count {
                font-size: 0.8125rem;
                line-height: 0.9375rem;
                margin-bottom: 0.75rem;
            }

            &-question {
                font-size: 0.8125rem;
                line-height: 0.9375rem;
                margin-bottom: 1.125rem;
            }

            &-item {
                margin-bottom: 0.5625rem;
                padding: 0 0.625rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-variant {
                font-size: 0.625rem;
                line-height: 0.75rem;
            }
        }

        &__info {
            max-width: 310px;
            z-index: auto;
            padding: 0.625rem 0.9375rem 1.0625rem 0.9375rem;

            &::before {
                background-color: rgba(39, 39, 39, 0.5);
                z-index: -20;
                left: -0.5rem;
                bottom: -0.5rem;
            }

            &::after {
                display: none;
            }
        }

        &__subtitle {
            line-height: 0.9375rem;
            text-align: left;
            margin-bottom: 0.5rem;
        }

        &__description {
            line-height: 0.9375rem;
            text-align: left;
            max-width: 100%;

            &::after {
                display: none;
            }
        }
    }
}

@include min-screen(1366px) {
    .event {
        &::after {
            width: 135px;
            height: 105px;
            background-image: url("data:image/svg+xml,%3Csvg width='136' height='106' viewBox='0 0 136 106' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M123.751 7.36587C123.751 9.39785 125.386 10.9218 127.567 10.9218C129.747 10.9218 131.383 9.39785 131.383 7.36587C131.383 5.33389 129.747 3.80991 127.567 3.80991C125.386 3.55591 123.751 5.33389 123.751 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M127.567 14.7318C131.932 14.7318 135.472 11.434 135.472 7.36592C135.472 3.29784 131.932 0 127.567 0C123.201 0 119.662 3.29784 119.662 7.36592C119.662 11.434 123.201 14.7318 127.567 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 7.36587C98.4011 9.39785 100.037 10.9218 102.217 10.9218C104.398 10.9218 106.033 9.39785 106.033 7.36587C106.033 5.33389 104.398 3.80991 102.217 3.80991C100.037 3.55591 98.4011 5.33389 98.4011 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M101.944 14.4778C97.5832 14.4778 94.0397 11.1759 94.0397 7.11192C94.0397 3.04797 97.8558 0 101.944 0C106.306 0 109.849 3.30196 109.849 7.36592C109.849 11.4299 106.306 14.4778 101.944 14.4778Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 7.36587C74.4141 9.39785 76.0495 10.9218 78.2302 10.9218C80.4108 10.9218 82.0463 9.39785 82.0463 7.36587C82.0463 5.33389 80.4108 3.80991 78.2302 3.80991C76.0495 3.55591 74.4141 5.33389 74.4141 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 14.7318C82.5959 14.7318 86.135 11.434 86.135 7.36592C86.135 3.29784 82.5959 0 78.2302 0C73.8645 0 70.3254 3.29784 70.3254 7.36592C70.3254 11.434 73.8645 14.7318 78.2302 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M50.427 7.36587C50.427 9.39785 52.0625 10.9218 54.2431 10.9218C56.4237 10.9218 58.0592 9.39785 58.0592 7.36587C58.0592 5.33389 56.4237 3.80991 54.2431 3.80991C52.0625 3.55591 50.427 5.33389 50.427 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 14.7318C58.6089 14.7318 62.148 11.434 62.148 7.36592C62.148 3.29784 58.6089 0 54.2432 0C49.8775 0 46.3384 3.29784 46.3384 7.36592C46.3384 11.434 49.8775 14.7318 54.2432 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 7.36587C26.9852 9.39785 28.6207 10.9218 30.8013 10.9218C32.982 10.9218 34.6174 9.39785 34.6174 7.36587C34.6174 5.33389 32.982 3.80991 30.8013 3.80991C28.8933 3.55591 26.9852 5.33389 26.9852 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 14.7318C35.167 14.7318 38.7061 11.434 38.7061 7.36592C38.7061 3.29784 35.167 0 30.8013 0C26.4356 0 22.8965 3.29784 22.8965 7.36592C22.8965 11.434 26.4356 14.7318 30.8013 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 7.36587C4.08875 9.39785 5.72422 10.9218 7.90485 10.9218C10.0855 10.9218 11.721 9.39785 11.721 7.36587C11.721 5.33389 10.0855 3.80991 7.90485 3.80991C5.72422 3.55591 4.08875 5.33389 4.08875 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 14.4778C3.54353 14.4778 0 11.1759 0 7.36592C0 3.55596 3.54353 0 7.90479 0C12.2661 0 15.8096 3.30196 15.8096 7.36592C15.8096 11.4299 11.9935 14.4778 7.90479 14.4778Z' fill='%234285F3'/%3E%3Cpath d='M123.751 30.4796C123.751 32.5116 125.386 34.0356 127.567 34.0356C129.747 34.0356 131.383 32.5116 131.383 30.4796C131.383 28.4477 129.747 26.9237 127.567 26.9237C125.386 26.6697 123.751 28.4477 123.751 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M127.567 37.8456C131.932 37.8456 135.472 34.5478 135.472 30.4797C135.472 26.4116 131.932 23.1138 127.567 23.1138C123.201 23.1138 119.662 26.4116 119.662 30.4797C119.662 34.5478 123.201 37.8456 127.567 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 30.4799C98.4011 32.5119 100.037 34.0358 102.217 34.0358C104.398 34.0358 106.033 32.5119 106.033 30.4799C106.033 28.4479 104.398 26.9239 102.217 26.9239C100.037 26.6699 98.4011 28.4479 98.4011 30.4799Z' fill='%234285F3'/%3E%3Cpath d='M101.944 37.5917C97.5832 37.5917 94.0397 34.2897 94.0397 30.2258C94.0397 26.1618 97.5832 22.8599 101.944 22.8599C106.306 22.8599 109.849 26.1618 109.849 30.2258C109.849 34.2897 106.306 37.5917 101.944 37.5917Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 30.4796C74.4141 32.5116 76.0495 34.0356 78.2302 34.0356C80.4108 34.0356 82.0463 32.5116 82.0463 30.4796C82.0463 28.4477 80.4108 26.9237 78.2302 26.9237C76.0495 26.6697 74.4141 28.4477 74.4141 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 37.8456C82.5959 37.8456 86.135 34.5478 86.135 30.4797C86.135 26.4116 82.5959 23.1138 78.2302 23.1138C73.8645 23.1138 70.3254 26.4116 70.3254 30.4797C70.3254 34.5478 73.8645 37.8456 78.2302 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M50.427 30.4796C50.427 32.5116 52.0625 34.0356 54.2431 34.0356C56.4237 34.0356 58.0592 32.5116 58.0592 30.4796C58.0592 28.4477 56.4237 26.9237 54.2431 26.9237C52.0625 26.6697 50.427 28.4477 50.427 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 37.8456C58.6089 37.8456 62.148 34.5478 62.148 30.4797C62.148 26.4116 58.6089 23.1138 54.2432 23.1138C49.8775 23.1138 46.3384 26.4116 46.3384 30.4797C46.3384 34.5478 49.8775 37.8456 54.2432 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 30.4796C26.9852 32.5116 28.6207 34.0356 30.8013 34.0356C32.982 34.0356 34.6174 32.5116 34.6174 30.4796C34.6174 28.4477 32.982 26.9237 30.8013 26.9237C28.8933 26.6697 26.9852 28.4477 26.9852 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 37.8456C35.167 37.8456 38.7061 34.5478 38.7061 30.4797C38.7061 26.4116 35.167 23.1138 30.8013 23.1138C26.4356 23.1138 22.8965 26.4116 22.8965 30.4797C22.8965 34.5478 26.4356 37.8456 30.8013 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 30.4796C4.08875 32.5116 5.72422 34.0356 7.90485 34.0356C10.0855 34.0356 11.721 32.5116 11.721 30.4796C11.721 28.4477 10.0855 26.9237 7.90485 26.9237C5.72422 26.6697 4.08875 28.4477 4.08875 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 37.5916C3.54353 37.5916 0 34.2897 0 30.4797C0 26.6697 3.54353 23.1138 7.90479 23.1138C12.2661 23.1138 15.8096 26.4157 15.8096 30.4797C15.8096 34.5437 11.9935 37.5916 7.90479 37.5916Z' fill='%234285F3'/%3E%3Cpath d='M123.751 53.0855C123.751 55.1175 125.386 56.6415 127.567 56.6415C129.747 56.6415 131.383 55.1175 131.383 53.0855C131.383 51.0535 129.747 49.5295 127.567 49.5295C125.386 49.5295 123.751 51.0535 123.751 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M127.567 60.4513C131.932 60.4513 135.472 57.1535 135.472 53.0854C135.472 49.0173 131.932 45.7195 127.567 45.7195C123.201 45.7195 119.662 49.0173 119.662 53.0854C119.662 57.1535 123.201 60.4513 127.567 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 53.0855C98.4011 55.1175 100.037 56.6415 102.217 56.6415C104.398 56.6415 106.033 55.1175 106.033 53.0855C106.033 51.0535 104.398 49.5295 102.217 49.5295C100.037 49.5295 98.4011 51.0535 98.4011 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M101.944 60.4513C97.5832 60.4513 94.0397 57.1494 94.0397 53.0854C94.0397 49.0214 97.5832 45.7195 101.944 45.7195C106.306 45.7195 109.849 49.0214 109.849 53.0854C109.849 57.1494 106.306 60.4513 101.944 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 53.0855C74.4141 55.1175 76.0495 56.6415 78.2302 56.6415C80.4108 56.6415 82.0463 55.1175 82.0463 53.0855C82.0463 51.0535 80.4108 49.5295 78.2302 49.5295C76.0495 49.5295 74.4141 51.0535 74.4141 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 60.4513C82.5959 60.4513 86.135 57.1535 86.135 53.0854C86.135 49.0173 82.5959 45.7195 78.2302 45.7195C73.8645 45.7195 70.3254 49.0173 70.3254 53.0854C70.3254 57.1535 73.8645 60.4513 78.2302 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M50.427 53.0855C50.427 55.1175 52.0625 56.6415 54.2431 56.6415C56.4237 56.6415 58.0592 55.1175 58.0592 53.0855C58.0592 51.0535 56.4237 49.5295 54.2431 49.5295C52.0625 49.5295 50.427 51.0535 50.427 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 60.4513C58.6089 60.4513 62.148 57.1535 62.148 53.0854C62.148 49.0173 58.6089 45.7195 54.2432 45.7195C49.8775 45.7195 46.3384 49.0173 46.3384 53.0854C46.3384 57.1535 49.8775 60.4513 54.2432 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 53.0855C26.9852 55.1175 28.6207 56.6415 30.8013 56.6415C32.982 56.6415 34.6174 55.1175 34.6174 53.0855C34.6174 51.0535 32.982 49.5295 30.8013 49.5295C28.8933 49.5295 26.9852 51.0535 26.9852 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 60.4513C35.167 60.4513 38.7061 57.1535 38.7061 53.0854C38.7061 49.0173 35.167 45.7195 30.8013 45.7195C26.4356 45.7195 22.8965 49.0173 22.8965 53.0854C22.8965 57.1535 26.4356 60.4513 30.8013 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 53.0855C4.08875 55.1175 5.72422 56.6415 7.90485 56.6415C10.0855 56.6415 11.721 55.1175 11.721 53.0855C11.721 51.0535 10.0855 49.5295 7.90485 49.5295C5.72422 49.5295 4.08875 51.0535 4.08875 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 60.4513C3.54353 60.4513 0 57.1494 0 53.0854C0 49.0214 3.54353 45.7195 7.90479 45.7195C12.2661 45.7195 15.8096 49.0214 15.8096 53.0854C15.8096 57.1494 11.9935 60.4513 7.90479 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M123.751 75.4373C123.751 77.4693 125.386 78.9933 127.567 78.9933C129.747 78.9933 131.383 77.4693 131.383 75.4373C131.383 73.4053 129.747 71.8813 127.567 71.8813C125.386 71.8813 123.751 73.4053 123.751 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M127.567 82.8031C131.932 82.8031 135.472 79.5053 135.472 75.4372C135.472 71.3691 131.932 68.0713 127.567 68.0713C123.201 68.0713 119.662 71.3691 119.662 75.4372C119.662 79.5053 123.201 82.8031 127.567 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 75.4373C98.4011 77.4693 100.037 78.9933 102.217 78.9933C104.398 78.9933 106.033 77.4693 106.033 75.4373C106.033 73.4053 104.398 71.8813 102.217 71.8813C100.037 71.8813 98.4011 73.4053 98.4011 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M101.944 82.8031C97.5832 82.8031 94.0397 79.5012 94.0397 75.4372C94.0397 71.3733 97.5832 68.0713 101.944 68.0713C106.306 68.0713 109.849 71.3733 109.849 75.4372C109.849 79.5012 106.306 82.8031 101.944 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 75.4373C74.4141 77.4693 76.0495 78.9933 78.2302 78.9933C80.4108 78.9933 82.0463 77.4693 82.0463 75.4373C82.0463 73.4053 80.4108 71.8813 78.2302 71.8813C76.0495 71.8813 74.4141 73.4053 74.4141 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 82.8031C82.5959 82.8031 86.135 79.5053 86.135 75.4372C86.135 71.3691 82.5959 68.0713 78.2302 68.0713C73.8645 68.0713 70.3254 71.3691 70.3254 75.4372C70.3254 79.5053 73.8645 82.8031 78.2302 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M50.427 75.4373C50.427 77.4693 52.0625 78.9933 54.2431 78.9933C56.4237 78.9933 58.0592 77.4693 58.0592 75.4373C58.0592 73.4053 56.4237 71.8813 54.2431 71.8813C52.0625 71.8813 50.427 73.4053 50.427 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 82.8031C58.6089 82.8031 62.148 79.5053 62.148 75.4372C62.148 71.3691 58.6089 68.0713 54.2432 68.0713C49.8775 68.0713 46.3384 71.3691 46.3384 75.4372C46.3384 79.5053 49.8775 82.8031 54.2432 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 75.4373C26.9852 77.4693 28.6207 78.9933 30.8013 78.9933C32.982 78.9933 34.6174 77.4693 34.6174 75.4373C34.6174 73.4053 32.982 71.8813 30.8013 71.8813C28.8933 71.8813 26.9852 73.4053 26.9852 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 82.8031C35.167 82.8031 38.7061 79.5053 38.7061 75.4372C38.7061 71.3691 35.167 68.0713 30.8013 68.0713C26.4356 68.0713 22.8965 71.3691 22.8965 75.4372C22.8965 79.5053 26.4356 82.8031 30.8013 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 75.4373C4.08875 77.4693 5.72422 78.9933 7.90485 78.9933C10.0855 78.9933 11.721 77.4693 11.721 75.4373C11.721 73.4053 10.0855 71.8813 7.90485 71.8813C5.72422 71.8813 4.08875 73.4053 4.08875 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 82.8031C3.54353 82.8031 0 79.5012 0 75.4372C0 71.3733 3.54353 68.0713 7.90479 68.0713C12.2661 68.0713 15.8096 71.3733 15.8096 75.4372C15.537 79.5012 11.9935 82.8031 7.90479 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M123.751 97.7889C123.751 99.8209 125.386 101.345 127.567 101.345C129.747 101.345 131.383 99.8209 131.383 97.7889C131.383 95.7569 129.747 94.2329 127.567 94.2329C125.386 94.2329 123.751 95.7569 123.751 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M127.567 105.155C131.932 105.155 135.472 101.857 135.472 97.789C135.472 93.7209 131.932 90.4231 127.567 90.4231C123.201 90.4231 119.662 93.7209 119.662 97.789C119.662 101.857 123.201 105.155 127.567 105.155Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 97.7889C98.4011 99.8209 100.037 101.345 102.217 101.345C104.398 101.345 106.033 99.8209 106.033 97.7889C106.033 95.7569 104.398 94.2329 102.217 94.2329C100.037 94.2329 98.4011 95.7569 98.4011 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M101.944 105.155C97.5832 105.155 94.0397 101.853 94.0397 97.789C94.0397 93.7251 97.5832 90.4231 101.944 90.4231C106.306 90.4231 109.849 93.7251 109.849 97.789C109.849 101.853 106.306 105.155 101.944 105.155Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 97.7889C74.4141 99.8209 76.0495 101.345 78.2302 101.345C80.4108 101.345 82.0463 99.8209 82.0463 97.7889C82.0463 95.7569 80.4108 94.2329 78.2302 94.2329C76.0495 94.2329 74.4141 95.7569 74.4141 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 105.155C82.5959 105.155 86.135 101.857 86.135 97.789C86.135 93.7209 82.5959 90.4231 78.2302 90.4231C73.8645 90.4231 70.3254 93.7209 70.3254 97.789C70.3254 101.857 73.8645 105.155 78.2302 105.155Z' fill='%234285F3'/%3E%3Cpath d='M50.427 97.7889C50.427 99.8209 52.0625 101.345 54.2431 101.345C56.4237 101.345 58.0592 99.8209 58.0592 97.7889C58.0592 95.7569 56.4237 94.2329 54.2431 94.2329C52.0625 94.2329 50.427 95.7569 50.427 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 105.155C58.6089 105.155 62.148 101.857 62.148 97.789C62.148 93.7209 58.6089 90.4231 54.2432 90.4231C49.8775 90.4231 46.3384 93.7209 46.3384 97.789C46.3384 101.857 49.8775 105.155 54.2432 105.155Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 97.7889C26.9852 99.8209 28.6207 101.345 30.8013 101.345C32.982 101.345 34.6174 99.8209 34.6174 97.7889C34.6174 95.7569 32.982 94.2329 30.8013 94.2329C28.8933 94.2329 26.9852 95.7569 26.9852 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 105.155C35.167 105.155 38.7061 101.857 38.7061 97.789C38.7061 93.7209 35.167 90.4231 30.8013 90.4231C26.4356 90.4231 22.8965 93.7209 22.8965 97.789C22.8965 101.857 26.4356 105.155 30.8013 105.155Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 97.7889C4.08875 99.8209 5.72422 101.345 7.90485 101.345C10.0855 101.345 11.721 99.8209 11.721 97.7889C11.721 95.7569 10.0855 94.2329 7.90485 94.2329C5.72422 94.2329 4.08875 95.7569 4.08875 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 105.155C3.54353 105.155 0 101.853 0 97.789C0 93.7251 3.54353 90.4231 7.90479 90.4231C12.2661 90.4231 15.8096 93.7251 15.8096 97.789C15.8096 101.853 11.9935 105.155 7.90479 105.155Z' fill='%234285F3'/%3E%3C/svg%3E%0A");

            left: -2.5rem;
            bottom: 2rem;
            top: 53%;
        }

        &::before {
            background-image: url('../images/content/pin.svg');
            width: 95px;
            height: 87px;

            right: auto;
            top: 10%;
            left: -1.25rem;
        }

        &__wrapper {
            padding-top: 3.875rem;
            padding-bottom: 10rem;
            border-width: 3px;
            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 96px;
                height: 218px;

                background-image: url('../images/content/ollie.png');
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;

                top: 35%;
                transform: translateY(-50%);
                left: -12rem;
            }

            &::before {
                position: absolute;
                content: '';

                width: 101px;
                height: 113px;

                background-image: url('../images/content/lily.png');
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;

                top: 15%;
                right: -12rem;
                transform: translateY(-50%);
            }
        }

        &__test {
            max-width: 310px;
            padding: 1.625rem 1.5rem 2.5625rem 1.5rem;
            z-index: -1;

            &-count {
                margin-bottom: 0.5rem;
            }

            &-question {
                margin-bottom: 1.0625rem;
            }

            &-item {
                margin-bottom: 0.6875rem;
                padding: 0 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__info {
            position: absolute;
            max-width: 321px;
            padding: 0.625rem 1rem 1.125rem 1rem;
            z-index: auto;

            right: -15rem;
            bottom: 14rem;

            &::before {
                z-index: -1;
            }

            &::after {
                display: block;

                width: 105px;
                height: 155px;

                background-image: url('../images/content/pens.svg');

                top: -7rem;
                right: -10rem;
                bottom: auto;
                transform: none;
            }
        }

        &__subtitle {
            line-height: 0.9375rem;
            text-align: left;
            margin-bottom: 0.5rem;
        }

        &__description {
            line-height: 0.9375rem;
            text-align: left;
            max-width: 100%;

            &::after {
                display: none;
            }
        }
    }
}
