.intro {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 0.625rem 0.625rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
        background-color: #F5F3F3;
        padding: 0.8125rem 0.4375rem 2.1875rem 0.4375rem;

        border: 2px solid $light-black;

        margin-bottom: 1.625rem;
    }

    &__title {
        @include font-setting($title-font, 0.875rem, 0.9375rem, 800, $light-black);
        text-transform: uppercase;
        margin-bottom: 0.875rem;
    }

    &__begin {
        @include font-setting($primary-font, 0.8125rem, 0.9375rem, 700, $light-black);
        text-align: left;
        margin-bottom: 0.8125rem;
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 1.625rem;

        &.desktop {
            display: none;
        }
    }

    &__description {
        @include font-setting($primary-font, 0.8125rem, 0.9375rem, 500, $light-black);
        margin-bottom: 0.9375rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__controls {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.5rem;

        &-link {
            width: 100%;
            @include flex-setting(column, center, center);

            @include font-setting($primary-font, 0.75rem, 0.875rem, 700, $light-black);
            text-decoration: none;
            border: 2px solid $light-black;
            border-radius: 30px;
            padding: 0.6875rem 0;

            background-color: $white;
            transition: 0.2s ease-in;

            &.--video {
                padding-right: 1.125rem;

                position: relative;

                &::after {
                    position: absolute;
                    content: '';

                    right: 2.375rem;
                    top: 50%;
                    transform: translateY(-50%);

                    width: 14px;
                    height: 14px;

                    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.30221 6.71992L6.41849 4.61992C6.32547 4.52659 6.18593 4.52659 6.0464 4.57326C5.90686 4.61992 5.86035 4.75992 5.86035 4.89992V9.14659C5.86035 9.28659 5.95337 9.37992 6.0464 9.47326C6.09291 9.51992 6.13942 9.51992 6.18593 9.51992C6.27896 9.51992 6.32547 9.51992 6.37198 9.47326L9.2557 7.37326C9.34872 7.32659 9.39523 7.18659 9.39523 7.09326C9.44175 6.90659 9.39523 6.81326 9.30221 6.71992Z' fill='%23272727'/%3E%3Cpath d='M6.97674 0C3.11628 0 0 3.12667 0 7C0 10.8733 3.11628 14 6.97674 14C10.8372 14 13.9535 10.8733 13.9535 7C14 3.12667 10.8372 0 6.97674 0ZM6.97674 12.8333C3.76744 12.8333 1.16279 10.22 1.16279 7C1.16279 3.78 3.76744 1.16667 6.97674 1.16667C10.186 1.16667 12.7907 3.78 12.7907 7C12.7907 10.22 10.186 12.8333 6.97674 12.8333Z' fill='%23272727'/%3E%3C/svg%3E");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            &.--desktop {
                display: none;
            }

            &:hover,
            &:active {
                background-color: $orange;
                transition: 0.2s ease-in;
            }
        }
    }

    &__prize {
        position: relative;

        width: 100%;
        max-width: 75%;

        @include flex-setting(column, center, center);

        border: 2px solid $light-black;

        margin-bottom: 3.625rem;

        &::after {
            position: absolute;
            content: '';

            width: 83px;
            height: 70px;

            background-image: url('../images/content/sb-pen.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            bottom: -1rem;
            left: -2.5rem;
        }

        &-frame {
            width: 100%;
            height: 100%;

            @include flex-setting(column, center, center);
        }

        &-image {
            width: 100%;
            height: 100%;

            object-fit: contain;
        }

        &-description {
            position: absolute;
            bottom: -2rem;
            right: -1.5rem;
            @include font-setting($title-font, 0.75rem, 1.0625rem, 800, $light-black);
            text-transform: uppercase;
            padding: 0.5rem 0.5rem;
            width: 100%;

            background-color: $yellow;
            border: 2px solid $light-black;

            &::before {
                z-index: -4;
                position: absolute;
                content: '';

                width: 100%;
                height: 100%;

                background-color: rgba(39, 39, 39, 0.5);
                border: 2px solid #272727;
            }

            &::after {
                position: absolute;
                content: '';
                top: -1.25rem;
                right: -1.25rem;
                width: 44px;
                height: 42px;

                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='123' height='117' viewBox='0 0 123 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M61.6135 30.8387L78.638 6.00003L77.9571 36.2581L106.558 26.0968L87.9448 50.0323L117 58.6129L87.9448 66.9678L106.558 90.9033L77.9571 80.9678L78.638 111L61.6135 86.1613L44.362 111L45.2699 80.9678L16.6687 90.9033L35.0552 66.9678L6 58.6129L35.0552 50.0323L16.6687 26.0968L45.2699 36.2581L44.362 6.00003L61.6135 30.8387Z' fill='%23FF7DAF' stroke='%23272727' stroke-width='3'/%3E%3Cpath d='M71.85 48.5V38.5H52.25V48.5L54.35 61.8H69.75L71.85 48.5ZM71.95 69.6C71.95 73.35 69.4 75.95 62 75.95C54.7 75.95 52.1 73.35 52.1 69.6C52.1 65.85 54.7 63.25 62 63.25C69.4 63.25 71.95 65.85 71.95 69.6Z' fill='%23F5F3F4'/%3E%3Cpath d='M71.85 48.5L73.3316 48.734L73.35 48.6177V48.5H71.85ZM71.85 38.5H73.35V37H71.85V38.5ZM52.25 38.5V37H50.75V38.5H52.25ZM52.25 48.5H50.75V48.6177L50.7684 48.734L52.25 48.5ZM54.35 61.8L52.8684 62.034L53.0683 63.3H54.35V61.8ZM69.75 61.8V63.3H71.0317L71.2316 62.034L69.75 61.8ZM73.35 48.5V38.5H70.35V48.5H73.35ZM71.85 37H52.25V40H71.85V37ZM50.75 38.5V48.5H53.75V38.5H50.75ZM50.7684 48.734L52.8684 62.034L55.8316 61.5661L53.7316 48.2661L50.7684 48.734ZM54.35 63.3H69.75V60.3H54.35V63.3ZM71.2316 62.034L73.3316 48.734L70.3684 48.2661L68.2684 61.5661L71.2316 62.034ZM70.45 69.6C70.45 71.0933 69.9696 72.1792 68.8768 72.9617C67.6867 73.8137 65.5721 74.45 62 74.45V77.45C65.8279 77.45 68.6883 76.7863 70.6232 75.4009C72.6554 73.9459 73.45 71.8567 73.45 69.6H70.45ZM62 74.45C58.4822 74.45 56.3779 73.8153 55.1857 72.9617C54.0873 72.1752 53.6 71.0852 53.6 69.6H50.6C50.6 71.8648 51.4127 73.9499 53.4393 75.4009C55.3721 76.7848 58.2178 77.45 62 77.45V74.45ZM53.6 69.6C53.6 68.1148 54.0873 67.0249 55.1857 66.2384C56.3779 65.3848 58.4822 64.75 62 64.75V61.75C58.2178 61.75 55.3721 62.4153 53.4393 63.7992C51.4127 65.2502 50.6 67.3352 50.6 69.6H53.6ZM62 64.75C65.5721 64.75 67.6867 65.3863 68.8768 66.2384C69.9696 67.0209 70.45 68.1067 70.45 69.6H73.45C73.45 67.3433 72.6554 65.2542 70.6232 63.7992C68.6883 62.4137 65.8279 61.75 62 61.75V64.75Z' fill='%23272727'/%3E%3C/svg%3E");
            }
        }
    }
}

@include min-screen(768px) {
    .intro {
        padding: 0;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 101px;
            height: 79px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='190' height='147' viewBox='0 0 190 147' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M172.996 10.2971C172.996 13.1376 175.282 15.2681 178.331 15.2681C181.379 15.2681 183.665 13.1376 183.665 10.2971C183.665 7.45647 181.379 5.32604 178.331 5.32604C175.282 4.97096 172.996 7.45647 172.996 10.2971Z' fill='%23FFE100'/%3E%3Cpath d='M178.33 20.5942C184.433 20.5942 189.381 15.984 189.381 10.2971C189.381 4.61017 184.433 0 178.33 0C172.227 0 167.28 4.61017 167.28 10.2971C167.28 15.984 172.227 20.5942 178.33 20.5942Z' fill='%23FFE100'/%3E%3Cpath d='M137.559 10.2971C137.559 13.1376 139.845 15.2681 142.894 15.2681C145.942 15.2681 148.228 13.1376 148.228 10.2971C148.228 7.45647 145.942 5.32604 142.894 5.32604C139.845 4.97096 137.559 7.45647 137.559 10.2971Z' fill='%23FFE100'/%3E%3Cpath d='M142.512 20.2391C136.415 20.2391 131.462 15.6232 131.462 9.94203C131.462 4.26087 136.796 0 142.512 0C148.609 0 153.562 4.61594 153.562 10.2971C153.562 15.9783 148.609 20.2391 142.512 20.2391Z' fill='%23FFE100'/%3E%3Cpath d='M104.026 10.2971C104.026 13.1376 106.313 15.2681 109.361 15.2681C112.409 15.2681 114.696 13.1376 114.696 10.2971C114.696 7.45647 112.409 5.32604 109.361 5.32604C106.313 4.97096 104.026 7.45647 104.026 10.2971Z' fill='%23FFE100'/%3E%3Cpath d='M109.361 20.5942C115.464 20.5942 120.411 15.984 120.411 10.2971C120.411 4.61017 115.464 0 109.361 0C103.258 0 98.3105 4.61017 98.3105 10.2971C98.3105 15.984 103.258 20.5942 109.361 20.5942Z' fill='%23FFE100'/%3E%3Cpath d='M70.4941 10.2971C70.4941 13.1376 72.7804 15.2681 75.8288 15.2681C78.8772 15.2681 81.1635 13.1376 81.1635 10.2971C81.1635 7.45647 78.8772 5.32604 75.8288 5.32604C72.7804 4.97096 70.4941 7.45647 70.4941 10.2971Z' fill='%23FFE100'/%3E%3Cpath d='M75.8287 20.5942C81.9317 20.5942 86.8791 15.984 86.8791 10.2971C86.8791 4.61017 81.9317 0 75.8287 0C69.7258 0 64.7783 4.61017 64.7783 10.2971C64.7783 15.984 69.7258 20.5942 75.8287 20.5942Z' fill='%23FFE100'/%3E%3Cpath d='M37.7236 10.2971C37.7236 13.1376 40.0099 15.2681 43.0583 15.2681C46.1067 15.2681 48.393 13.1376 48.393 10.2971C48.393 7.45647 46.1067 5.32604 43.0583 5.32604C40.391 4.97096 37.7236 7.45647 37.7236 10.2971Z' fill='%23FFE100'/%3E%3Cpath d='M43.0582 20.5942C49.1612 20.5942 54.1086 15.984 54.1086 10.2971C54.1086 4.61017 49.1612 0 43.0582 0C36.9553 0 32.0078 4.61017 32.0078 10.2971C32.0078 15.984 36.9553 20.5942 43.0582 20.5942Z' fill='%23FFE100'/%3E%3Cpath d='M5.71582 10.2971C5.71582 13.1376 8.00211 15.2681 11.0505 15.2681C14.0989 15.2681 16.3852 13.1376 16.3852 10.2971C16.3852 7.45647 14.0989 5.32604 11.0505 5.32604C8.00211 4.97096 5.71582 7.45647 5.71582 10.2971Z' fill='%23FFE100'/%3E%3Cpath d='M11.0504 20.2391C4.95363 20.2391 0 15.6232 0 10.2971C0 4.97101 4.95363 0 11.0504 0C17.1472 0 22.1008 4.61594 22.1008 10.2971C22.1008 15.9783 16.7661 20.2391 11.0504 20.2391Z' fill='%23FFE100'/%3E%3Cpath d='M172.996 42.6087C172.996 45.4493 175.282 47.5797 178.331 47.5797C181.379 47.5797 183.665 45.4493 183.665 42.6087C183.665 39.7681 181.379 37.6377 178.331 37.6377C175.282 37.2826 172.996 39.7681 172.996 42.6087Z' fill='%23FFE100'/%3E%3Cpath d='M178.33 52.9057C184.433 52.9057 189.381 48.2956 189.381 42.6086C189.381 36.9217 184.433 32.3115 178.33 32.3115C172.227 32.3115 167.28 36.9217 167.28 42.6086C167.28 48.2956 172.227 52.9057 178.33 52.9057Z' fill='%23FFE100'/%3E%3Cpath d='M137.559 42.6087C137.559 45.4493 139.845 47.5797 142.894 47.5797C145.942 47.5797 148.228 45.4493 148.228 42.6087C148.228 39.7681 145.942 37.6377 142.894 37.6377C139.845 37.2826 137.559 39.7681 137.559 42.6087Z' fill='%23FFE100'/%3E%3Cpath d='M142.512 52.5507C136.415 52.5507 131.462 47.9348 131.462 42.2536C131.462 36.5725 136.415 31.9565 142.512 31.9565C148.609 31.9565 153.562 36.5725 153.562 42.2536C153.562 47.9348 148.609 52.5507 142.512 52.5507Z' fill='%23FFE100'/%3E%3Cpath d='M104.026 42.6087C104.026 45.4493 106.313 47.5797 109.361 47.5797C112.409 47.5797 114.696 45.4493 114.696 42.6087C114.696 39.7681 112.409 37.6377 109.361 37.6377C106.313 37.2826 104.026 39.7681 104.026 42.6087Z' fill='%23FFE100'/%3E%3Cpath d='M109.361 52.9057C115.464 52.9057 120.411 48.2956 120.411 42.6086C120.411 36.9217 115.464 32.3115 109.361 32.3115C103.258 32.3115 98.3105 36.9217 98.3105 42.6086C98.3105 48.2956 103.258 52.9057 109.361 52.9057Z' fill='%23FFE100'/%3E%3Cpath d='M70.4941 42.6087C70.4941 45.4493 72.7804 47.5797 75.8288 47.5797C78.8772 47.5797 81.1635 45.4493 81.1635 42.6087C81.1635 39.7681 78.8772 37.6377 75.8288 37.6377C72.7804 37.2826 70.4941 39.7681 70.4941 42.6087Z' fill='%23FFE100'/%3E%3Cpath d='M75.8287 52.9057C81.9317 52.9057 86.8791 48.2956 86.8791 42.6086C86.8791 36.9217 81.9317 32.3115 75.8287 32.3115C69.7258 32.3115 64.7783 36.9217 64.7783 42.6086C64.7783 48.2956 69.7258 52.9057 75.8287 52.9057Z' fill='%23FFE100'/%3E%3Cpath d='M37.7236 42.6087C37.7236 45.4493 40.0099 47.5797 43.0583 47.5797C46.1067 47.5797 48.393 45.4493 48.393 42.6087C48.393 39.7681 46.1067 37.6377 43.0583 37.6377C40.391 37.2826 37.7236 39.7681 37.7236 42.6087Z' fill='%23FFE100'/%3E%3Cpath d='M43.0582 52.9057C49.1612 52.9057 54.1086 48.2956 54.1086 42.6086C54.1086 36.9217 49.1612 32.3115 43.0582 32.3115C36.9553 32.3115 32.0078 36.9217 32.0078 42.6086C32.0078 48.2956 36.9553 52.9057 43.0582 52.9057Z' fill='%23FFE100'/%3E%3Cpath d='M5.71582 42.6087C5.71582 45.4493 8.00211 47.5797 11.0505 47.5797C14.0989 47.5797 16.3852 45.4493 16.3852 42.6087C16.3852 39.7681 14.0989 37.6377 11.0505 37.6377C8.00211 37.2826 5.71582 39.7681 5.71582 42.6087Z' fill='%23FFE100'/%3E%3Cpath d='M11.0504 52.5507C4.95363 52.5507 0 47.9347 0 42.6086C0 37.2825 4.95363 32.3115 11.0504 32.3115C17.1472 32.3115 22.1008 36.9275 22.1008 42.6086C22.1008 48.2898 16.7661 52.5507 11.0504 52.5507Z' fill='%23FFE100'/%3E%3Cpath d='M172.996 74.2101C172.996 77.0507 175.282 79.1812 178.331 79.1812C181.379 79.1812 183.665 77.0507 183.665 74.2101C183.665 71.3696 181.379 69.2391 178.331 69.2391C175.282 69.2391 172.996 71.3696 172.996 74.2101Z' fill='%23FFE100'/%3E%3Cpath d='M178.33 84.5073C184.433 84.5073 189.381 79.8971 189.381 74.2102C189.381 68.5233 184.433 63.9131 178.33 63.9131C172.227 63.9131 167.28 68.5233 167.28 74.2102C167.28 79.8971 172.227 84.5073 178.33 84.5073Z' fill='%23FFE100'/%3E%3Cpath d='M137.559 74.2101C137.559 77.0507 139.845 79.1812 142.894 79.1812C145.942 79.1812 148.228 77.0507 148.228 74.2101C148.228 71.3696 145.942 69.2391 142.894 69.2391C139.845 69.2391 137.559 71.3696 137.559 74.2101Z' fill='%23FFE100'/%3E%3Cpath d='M142.512 84.5073C136.415 84.5073 131.462 79.8913 131.462 74.2102C131.462 68.529 136.415 63.9131 142.512 63.9131C148.609 63.9131 153.562 68.529 153.562 74.2102C153.562 79.8913 148.609 84.5073 142.512 84.5073Z' fill='%23FFE100'/%3E%3Cpath d='M104.026 74.2101C104.026 77.0507 106.313 79.1812 109.361 79.1812C112.409 79.1812 114.696 77.0507 114.696 74.2101C114.696 71.3696 112.409 69.2391 109.361 69.2391C106.313 69.2391 104.026 71.3696 104.026 74.2101Z' fill='%23FFE100'/%3E%3Cpath d='M109.361 84.5073C115.464 84.5073 120.411 79.8971 120.411 74.2102C120.411 68.5233 115.464 63.9131 109.361 63.9131C103.258 63.9131 98.3105 68.5233 98.3105 74.2102C98.3105 79.8971 103.258 84.5073 109.361 84.5073Z' fill='%23FFE100'/%3E%3Cpath d='M70.4941 74.2101C70.4941 77.0507 72.7804 79.1812 75.8288 79.1812C78.8772 79.1812 81.1635 77.0507 81.1635 74.2101C81.1635 71.3696 78.8772 69.2391 75.8288 69.2391C72.7804 69.2391 70.4941 71.3696 70.4941 74.2101Z' fill='%23FFE100'/%3E%3Cpath d='M75.8287 84.5073C81.9317 84.5073 86.8791 79.8971 86.8791 74.2102C86.8791 68.5233 81.9317 63.9131 75.8287 63.9131C69.7258 63.9131 64.7783 68.5233 64.7783 74.2102C64.7783 79.8971 69.7258 84.5073 75.8287 84.5073Z' fill='%23FFE100'/%3E%3Cpath d='M37.7236 74.2101C37.7236 77.0507 40.0099 79.1812 43.0583 79.1812C46.1067 79.1812 48.393 77.0507 48.393 74.2101C48.393 71.3696 46.1067 69.2391 43.0583 69.2391C40.391 69.2391 37.7236 71.3696 37.7236 74.2101Z' fill='%23FFE100'/%3E%3Cpath d='M43.0582 84.5073C49.1612 84.5073 54.1086 79.8971 54.1086 74.2102C54.1086 68.5233 49.1612 63.9131 43.0582 63.9131C36.9553 63.9131 32.0078 68.5233 32.0078 74.2102C32.0078 79.8971 36.9553 84.5073 43.0582 84.5073Z' fill='%23FFE100'/%3E%3Cpath d='M5.71582 74.2101C5.71582 77.0507 8.00211 79.1812 11.0505 79.1812C14.0989 79.1812 16.3852 77.0507 16.3852 74.2101C16.3852 71.3696 14.0989 69.2391 11.0505 69.2391C8.00211 69.2391 5.71582 71.3696 5.71582 74.2101Z' fill='%23FFE100'/%3E%3Cpath d='M11.0504 84.5073C4.95363 84.5073 0 79.8913 0 74.2102C0 68.529 4.95363 63.9131 11.0504 63.9131C17.1472 63.9131 22.1008 68.529 22.1008 74.2102C22.1008 79.8913 16.7661 84.5073 11.0504 84.5073Z' fill='%23FFE100'/%3E%3Cpath d='M172.996 105.457C172.996 108.297 175.282 110.428 178.331 110.428C181.379 110.428 183.665 108.297 183.665 105.457C183.665 102.616 181.379 100.486 178.331 100.486C175.282 100.486 172.996 102.616 172.996 105.457Z' fill='%23FFE100'/%3E%3Cpath d='M178.33 115.754C184.433 115.754 189.381 111.144 189.381 105.457C189.381 99.7697 184.433 95.1595 178.33 95.1595C172.227 95.1595 167.28 99.7697 167.28 105.457C167.28 111.144 172.227 115.754 178.33 115.754Z' fill='%23FFE100'/%3E%3Cpath d='M137.559 105.457C137.559 108.297 139.845 110.428 142.894 110.428C145.942 110.428 148.228 108.297 148.228 105.457C148.228 102.616 145.942 100.486 142.894 100.486C139.845 100.486 137.559 102.616 137.559 105.457Z' fill='%23FFE100'/%3E%3Cpath d='M142.512 115.754C136.415 115.754 131.462 111.138 131.462 105.457C131.462 99.7755 136.415 95.1595 142.512 95.1595C148.609 95.1595 153.562 99.7755 153.562 105.457C153.562 111.138 148.609 115.754 142.512 115.754Z' fill='%23FFE100'/%3E%3Cpath d='M104.026 105.457C104.026 108.297 106.313 110.428 109.361 110.428C112.409 110.428 114.696 108.297 114.696 105.457C114.696 102.616 112.409 100.486 109.361 100.486C106.313 100.486 104.026 102.616 104.026 105.457Z' fill='%23FFE100'/%3E%3Cpath d='M109.361 115.754C115.464 115.754 120.411 111.144 120.411 105.457C120.411 99.7697 115.464 95.1595 109.361 95.1595C103.258 95.1595 98.3105 99.7697 98.3105 105.457C98.3105 111.144 103.258 115.754 109.361 115.754Z' fill='%23FFE100'/%3E%3Cpath d='M70.4941 105.457C70.4941 108.297 72.7804 110.428 75.8288 110.428C78.8772 110.428 81.1635 108.297 81.1635 105.457C81.1635 102.616 78.8772 100.486 75.8288 100.486C72.7804 100.486 70.4941 102.616 70.4941 105.457Z' fill='%23FFE100'/%3E%3Cpath d='M75.8287 115.754C81.9317 115.754 86.8791 111.144 86.8791 105.457C86.8791 99.7697 81.9317 95.1595 75.8287 95.1595C69.7258 95.1595 64.7783 99.7697 64.7783 105.457C64.7783 111.144 69.7258 115.754 75.8287 115.754Z' fill='%23FFE100'/%3E%3Cpath d='M37.7236 105.457C37.7236 108.297 40.0099 110.428 43.0583 110.428C46.1067 110.428 48.393 108.297 48.393 105.457C48.393 102.616 46.1067 100.486 43.0583 100.486C40.391 100.486 37.7236 102.616 37.7236 105.457Z' fill='%23FFE100'/%3E%3Cpath d='M43.0582 115.754C49.1612 115.754 54.1086 111.144 54.1086 105.457C54.1086 99.7697 49.1612 95.1595 43.0582 95.1595C36.9553 95.1595 32.0078 99.7697 32.0078 105.457C32.0078 111.144 36.9553 115.754 43.0582 115.754Z' fill='%23FFE100'/%3E%3Cpath d='M5.71582 105.457C5.71582 108.297 8.00211 110.428 11.0505 110.428C14.0989 110.428 16.3852 108.297 16.3852 105.457C16.3852 102.616 14.0989 100.486 11.0505 100.486C8.00211 100.486 5.71582 102.616 5.71582 105.457Z' fill='%23FFE100'/%3E%3Cpath d='M11.0504 115.754C4.95363 115.754 0 111.138 0 105.457C0 99.7755 4.95363 95.1595 11.0504 95.1595C17.1472 95.1595 22.1008 99.7755 22.1008 105.457C21.7198 111.138 16.7661 115.754 11.0504 115.754Z' fill='%23FFE100'/%3E%3Cpath d='M172.996 136.703C172.996 139.543 175.282 141.674 178.331 141.674C181.379 141.674 183.665 139.543 183.665 136.703C183.665 133.862 181.379 131.732 178.331 131.732C175.282 131.732 172.996 133.862 172.996 136.703Z' fill='%23FFE100'/%3E%3Cpath d='M178.33 147C184.433 147 189.381 142.39 189.381 136.703C189.381 131.016 184.433 126.406 178.33 126.406C172.227 126.406 167.28 131.016 167.28 136.703C167.28 142.39 172.227 147 178.33 147Z' fill='%23FFE100'/%3E%3Cpath d='M137.559 136.703C137.559 139.543 139.845 141.674 142.894 141.674C145.942 141.674 148.228 139.543 148.228 136.703C148.228 133.862 145.942 131.732 142.894 131.732C139.845 131.732 137.559 133.862 137.559 136.703Z' fill='%23FFE100'/%3E%3Cpath d='M142.512 147C136.415 147 131.462 142.384 131.462 136.703C131.462 131.022 136.415 126.406 142.512 126.406C148.609 126.406 153.562 131.022 153.562 136.703C153.562 142.384 148.609 147 142.512 147Z' fill='%23FFE100'/%3E%3Cpath d='M104.026 136.703C104.026 139.543 106.313 141.674 109.361 141.674C112.409 141.674 114.696 139.543 114.696 136.703C114.696 133.862 112.409 131.732 109.361 131.732C106.313 131.732 104.026 133.862 104.026 136.703Z' fill='%23FFE100'/%3E%3Cpath d='M109.361 147C115.464 147 120.411 142.39 120.411 136.703C120.411 131.016 115.464 126.406 109.361 126.406C103.258 126.406 98.3105 131.016 98.3105 136.703C98.3105 142.39 103.258 147 109.361 147Z' fill='%23FFE100'/%3E%3Cpath d='M70.4941 136.703C70.4941 139.543 72.7804 141.674 75.8288 141.674C78.8772 141.674 81.1635 139.543 81.1635 136.703C81.1635 133.862 78.8772 131.732 75.8288 131.732C72.7804 131.732 70.4941 133.862 70.4941 136.703Z' fill='%23FFE100'/%3E%3Cpath d='M75.8287 147C81.9317 147 86.8791 142.39 86.8791 136.703C86.8791 131.016 81.9317 126.406 75.8287 126.406C69.7258 126.406 64.7783 131.016 64.7783 136.703C64.7783 142.39 69.7258 147 75.8287 147Z' fill='%23FFE100'/%3E%3Cpath d='M37.7236 136.703C37.7236 139.543 40.0099 141.674 43.0583 141.674C46.1067 141.674 48.393 139.543 48.393 136.703C48.393 133.862 46.1067 131.732 43.0583 131.732C40.391 131.732 37.7236 133.862 37.7236 136.703Z' fill='%23FFE100'/%3E%3Cpath d='M43.0582 147C49.1612 147 54.1086 142.39 54.1086 136.703C54.1086 131.016 49.1612 126.406 43.0582 126.406C36.9553 126.406 32.0078 131.016 32.0078 136.703C32.0078 142.39 36.9553 147 43.0582 147Z' fill='%23FFE100'/%3E%3Cpath d='M5.71582 136.703C5.71582 139.543 8.00211 141.674 11.0505 141.674C14.0989 141.674 16.3852 139.543 16.3852 136.703C16.3852 133.862 14.0989 131.732 11.0505 131.732C8.00211 131.732 5.71582 133.862 5.71582 136.703Z' fill='%23FFE100'/%3E%3Cpath d='M11.0504 147C4.95363 147 0 142.384 0 136.703C0 131.022 4.95363 126.406 11.0504 126.406C17.1472 126.406 22.1008 131.022 22.1008 136.703C22.1008 142.384 16.7661 147 11.0504 147Z' fill='%23FFE100'/%3E%3C/svg%3E%0A");
            top: -5rem;
            left: -2.5rem;
        }

        &__wrapper {
            width: 83.984375%;
            padding: 1.875rem 2.5rem 2.875rem 2.6875rem;
        }

        &__title {
            font-size: 1.5rem;
            line-height: 1.625rem;
            margin-bottom: 1.375rem;
        }

        &__begin {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            margin-bottom: 1.25rem;
        }

        &__info {
            margin-bottom: 3.125rem;
        }

        &__description {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            margin-bottom: 1.375rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__controls {
            grid-template-columns: 226px 264px;
            grid-column-gap: 2.625rem;

            &-link {
                height: 54px;
                padding: 0;
                font-size: 1rem;
                line-height: 1.1875rem;

                &.--video {
                    padding-right: 2.25rem;

                    &::after {
                        right: 1rem;

                        width: 24px;
                        height: 24px;
                    }
                }

                &.--mobile {
                    display: none;
                }

                &.--desktop {
                    display: flex;
                }
            }
        }

        &__prize {
            max-width: 387px;

            margin-bottom: 0;
            z-index: 1;

            &-frame {
                z-index: -1;
            }

            &::after {
                width: 181px;
                height: 167px;

                left: -10rem;
            }

            &-description {
                width: 284px;
                bottom: 6rem;
                right: -6.5rem;
                font-size: 1.125rem;
                line-height: 1.5rem;
                padding: 0.625rem 0.875rem;

                &::before {
                    z-index: -1;
                }

                &::after {
                    top: -2.25rem;
                    right: -2.25rem;
                    width: 73px;
                    height: 69px;
                    z-index: 2;
                }
            }
        }
    }
}

@include min-screen(1366px) {
    .intro {
        padding: 0;

        display: grid;
        grid-template-columns: 1fr 330px;
        grid-column-gap: 6.8125rem;

        justify-content: center;
        align-items: center;

        position: relative;

        --width: calc(100% - 1156px);
        padding-left: calc(var(--width) / 2);
        --width2: calc(100% - 786px);
        padding-right: calc(var(--width2) / 2);
        margin-top: 1.25rem;

        &::after {
            width: 128px;
            height: 100px;
            top: auto;
            bottom: 3rem;
            left: -3.5rem;
        }

        &__wrapper {
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            background-color: transparent;
            border: none;
        }

        &__title {
            font-size: 1.75rem;
            line-height: 1.875rem;
            margin-bottom: 1.25rem;

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 40px;
                height: 41px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0995 1C15.0995 1 14.3764 14.9607 1 14.9607C1 14.9607 15.0995 14.9607 15.0995 30.7112C15.0995 30.7112 16.9071 14.6027 28.4759 14.6027C28.8374 14.2448 15.0995 13.5288 15.0995 1Z' fill='%23F9D12E' stroke='black' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M32.429 22.5405C32.429 22.5405 31.96 31.615 23.2834 31.615C23.2834 31.615 32.429 31.615 32.429 41.8528C32.429 41.8528 33.6016 31.3823 41.1056 31.3823C41.3401 31.1496 32.429 30.6843 32.429 22.5405Z' fill='%23F9D12E' stroke='black' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

                top: -2rem;
                right: -2rem;
            }
        }

        &__begin {
            font-size: 1rem;
            line-height: 1.1875rem;
            margin-bottom: 1.25rem;
            max-width: 495px;
        }

        &__info {
            margin-bottom: 1.25rem;
            max-width: 480px;

            display: none;

            &.desktop {
                display: flex;
            }
        }

        &__description {
            font-size: 0.8125rem;
            line-height: 0.9375rem;
            margin-bottom: 1.125rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__controls {
            grid-template-columns: 149px 174px;
            grid-column-gap: 1.25rem;

            &-link {
                height: 36px;
                padding: 0;
                font-size: 0.875rem;
                line-height: 1.0625rem;

                &.--video {
                    padding-right: 2.25rem;

                    &::after {
                        right: 1rem;

                        width: 24px;
                        height: 24px;
                    }
                }

                &.--mobile {
                    display: none;
                }

                &.--desktop {
                    display: flex;
                }
            }
        }

        &__prize {
            max-width: 387px;

            margin-bottom: 0;
            z-index: 1;

            &-frame {
                z-index: -1;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';

                    width: 74px;
                    height: 74px;

                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url('../images/content/pin.svg');

                    top: 2rem;
                    right: 1rem;
                }
            }

            &::before {
                position: absolute;
                content: '';

                width: 407px;
                height: 620px;

                background-color: $violet;
                border: 3px solid $light-black;

                top: -1.5rem;
                left: 50%;
                transform: translateX(-50%);

                z-index: -2;
            }

            &::after {
                display: none;
            }

            &-description {
                width: 267px;
                bottom: 5rem;
                right: -6.5rem;
                padding: 0.625rem 0.875rem;

                &::before {
                    z-index: -1;
                    right: -0.5rem;
                    bottom: -0.5rem;
                }

                &::after {
                    top: -2.5rem;
                    right: -2.5rem;
                    width: 82px;
                    height: 78px;
                    z-index: 2;
                }
            }
        }
    }
}

@include min-screen(1920px) {
    .intro {
        padding: 0;

        display: grid;
        grid-template-columns: 1fr 484px;
        grid-column-gap: 7.3125rem;
        justify-content: center;

        --width: calc(100% - 1572px);
        padding-left: calc(var(--width) / 2);
        --width2: calc(100% - 1028px);
        padding-right: calc(var(--width2) / 2);
        margin-top: 1.25rem;

        &::after {
            width: 173px;
            height: 135px;
            bottom: 0;
            left: -3.5rem;
        }

        &__title {
            font-size: 2rem;
            line-height: 2.1875rem;
            margin-bottom: 1.5rem;

            &::after {
                width: 54px;
                height: 55px;
                top: -2rem;
                right: -2rem;
            }
        }

        &__begin {
            margin-bottom: 1.5rem;
            max-width: 598px;
        }

        &__info {
            margin-bottom: 3.5rem;
            max-width: 646px;
        }

        &__description {
            font-size: 0.875rem;
            line-height: 1.0625rem;
        }

        &__controls {
            grid-template-columns: 200px 235px;
            grid-column-gap: 1.75rem;

            &-link {
                height: 48px;
                font-size: 1rem;
                line-height: 1.1875rem;

                &.--video {
                    padding-right: 2rem;

                    &::after {
                        right: 2.5rem;

                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }

        &__prize {
            max-width: 484px;

            &-frame {
                &::after {
                    width: 100px;
                    height: 100px;

                    top: 2rem;
                    right: 1rem;
                }
            }

            &::before {
                width: 658px;
                height: 945px;

                top: -2.5rem;
            }


            &-description {
                width: 360px;
                bottom: 10rem;
                right: -7.5rem;
                padding: 0.625rem 1.125rem;

                font-size: 1.625rem;
                line-height: 1.75rem;

                &::before {
                    right: -0.625rem;
                    bottom: -0.625rem;
                }

                &::after {
                    top: -3.5rem;
                    right: -3.5rem;
                    width: 111px;
                    height: 115px;
                }
            }
        }
    }
}
