.video {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin-top: 1.625rem;
    margin-bottom: 2rem;

    position: relative;

    &::after {
        position: absolute;
        content: '';

        width: 70px;
        height: 54px;

        background-image: url("data:image/svg+xml,%3Csvg width='136' height='106' viewBox='0 0 136 106' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M123.751 7.36587C123.751 9.39785 125.386 10.9218 127.567 10.9218C129.747 10.9218 131.383 9.39785 131.383 7.36587C131.383 5.33389 129.747 3.80991 127.567 3.80991C125.386 3.55591 123.751 5.33389 123.751 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M127.567 14.7318C131.932 14.7318 135.472 11.434 135.472 7.36592C135.472 3.29784 131.932 0 127.567 0C123.201 0 119.662 3.29784 119.662 7.36592C119.662 11.434 123.201 14.7318 127.567 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 7.36587C98.4011 9.39785 100.037 10.9218 102.217 10.9218C104.398 10.9218 106.033 9.39785 106.033 7.36587C106.033 5.33389 104.398 3.80991 102.217 3.80991C100.037 3.55591 98.4011 5.33389 98.4011 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M101.944 14.4778C97.5832 14.4778 94.0397 11.1759 94.0397 7.11192C94.0397 3.04797 97.8558 0 101.944 0C106.306 0 109.849 3.30196 109.849 7.36592C109.849 11.4299 106.306 14.4778 101.944 14.4778Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 7.36587C74.4141 9.39785 76.0495 10.9218 78.2302 10.9218C80.4108 10.9218 82.0463 9.39785 82.0463 7.36587C82.0463 5.33389 80.4108 3.80991 78.2302 3.80991C76.0495 3.55591 74.4141 5.33389 74.4141 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 14.7318C82.5959 14.7318 86.135 11.434 86.135 7.36592C86.135 3.29784 82.5959 0 78.2302 0C73.8645 0 70.3254 3.29784 70.3254 7.36592C70.3254 11.434 73.8645 14.7318 78.2302 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M50.427 7.36587C50.427 9.39785 52.0625 10.9218 54.2431 10.9218C56.4237 10.9218 58.0592 9.39785 58.0592 7.36587C58.0592 5.33389 56.4237 3.80991 54.2431 3.80991C52.0625 3.55591 50.427 5.33389 50.427 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 14.7318C58.6089 14.7318 62.148 11.434 62.148 7.36592C62.148 3.29784 58.6089 0 54.2432 0C49.8775 0 46.3384 3.29784 46.3384 7.36592C46.3384 11.434 49.8775 14.7318 54.2432 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 7.36587C26.9852 9.39785 28.6207 10.9218 30.8013 10.9218C32.982 10.9218 34.6174 9.39785 34.6174 7.36587C34.6174 5.33389 32.982 3.80991 30.8013 3.80991C28.8933 3.55591 26.9852 5.33389 26.9852 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 14.7318C35.167 14.7318 38.7061 11.434 38.7061 7.36592C38.7061 3.29784 35.167 0 30.8013 0C26.4356 0 22.8965 3.29784 22.8965 7.36592C22.8965 11.434 26.4356 14.7318 30.8013 14.7318Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 7.36587C4.08875 9.39785 5.72422 10.9218 7.90485 10.9218C10.0855 10.9218 11.721 9.39785 11.721 7.36587C11.721 5.33389 10.0855 3.80991 7.90485 3.80991C5.72422 3.55591 4.08875 5.33389 4.08875 7.36587Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 14.4778C3.54353 14.4778 0 11.1759 0 7.36592C0 3.55596 3.54353 0 7.90479 0C12.2661 0 15.8096 3.30196 15.8096 7.36592C15.8096 11.4299 11.9935 14.4778 7.90479 14.4778Z' fill='%234285F3'/%3E%3Cpath d='M123.751 30.4796C123.751 32.5116 125.386 34.0356 127.567 34.0356C129.747 34.0356 131.383 32.5116 131.383 30.4796C131.383 28.4477 129.747 26.9237 127.567 26.9237C125.386 26.6697 123.751 28.4477 123.751 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M127.567 37.8456C131.932 37.8456 135.472 34.5478 135.472 30.4797C135.472 26.4116 131.932 23.1138 127.567 23.1138C123.201 23.1138 119.662 26.4116 119.662 30.4797C119.662 34.5478 123.201 37.8456 127.567 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 30.4799C98.4011 32.5119 100.037 34.0358 102.217 34.0358C104.398 34.0358 106.033 32.5119 106.033 30.4799C106.033 28.4479 104.398 26.9239 102.217 26.9239C100.037 26.6699 98.4011 28.4479 98.4011 30.4799Z' fill='%234285F3'/%3E%3Cpath d='M101.944 37.5917C97.5832 37.5917 94.0397 34.2897 94.0397 30.2258C94.0397 26.1618 97.5832 22.8599 101.944 22.8599C106.306 22.8599 109.849 26.1618 109.849 30.2258C109.849 34.2897 106.306 37.5917 101.944 37.5917Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 30.4796C74.4141 32.5116 76.0495 34.0356 78.2302 34.0356C80.4108 34.0356 82.0463 32.5116 82.0463 30.4796C82.0463 28.4477 80.4108 26.9237 78.2302 26.9237C76.0495 26.6697 74.4141 28.4477 74.4141 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 37.8456C82.5959 37.8456 86.135 34.5478 86.135 30.4797C86.135 26.4116 82.5959 23.1138 78.2302 23.1138C73.8645 23.1138 70.3254 26.4116 70.3254 30.4797C70.3254 34.5478 73.8645 37.8456 78.2302 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M50.427 30.4796C50.427 32.5116 52.0625 34.0356 54.2431 34.0356C56.4237 34.0356 58.0592 32.5116 58.0592 30.4796C58.0592 28.4477 56.4237 26.9237 54.2431 26.9237C52.0625 26.6697 50.427 28.4477 50.427 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 37.8456C58.6089 37.8456 62.148 34.5478 62.148 30.4797C62.148 26.4116 58.6089 23.1138 54.2432 23.1138C49.8775 23.1138 46.3384 26.4116 46.3384 30.4797C46.3384 34.5478 49.8775 37.8456 54.2432 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 30.4796C26.9852 32.5116 28.6207 34.0356 30.8013 34.0356C32.982 34.0356 34.6174 32.5116 34.6174 30.4796C34.6174 28.4477 32.982 26.9237 30.8013 26.9237C28.8933 26.6697 26.9852 28.4477 26.9852 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 37.8456C35.167 37.8456 38.7061 34.5478 38.7061 30.4797C38.7061 26.4116 35.167 23.1138 30.8013 23.1138C26.4356 23.1138 22.8965 26.4116 22.8965 30.4797C22.8965 34.5478 26.4356 37.8456 30.8013 37.8456Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 30.4796C4.08875 32.5116 5.72422 34.0356 7.90485 34.0356C10.0855 34.0356 11.721 32.5116 11.721 30.4796C11.721 28.4477 10.0855 26.9237 7.90485 26.9237C5.72422 26.6697 4.08875 28.4477 4.08875 30.4796Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 37.5916C3.54353 37.5916 0 34.2897 0 30.4797C0 26.6697 3.54353 23.1138 7.90479 23.1138C12.2661 23.1138 15.8096 26.4157 15.8096 30.4797C15.8096 34.5437 11.9935 37.5916 7.90479 37.5916Z' fill='%234285F3'/%3E%3Cpath d='M123.751 53.0855C123.751 55.1175 125.386 56.6415 127.567 56.6415C129.747 56.6415 131.383 55.1175 131.383 53.0855C131.383 51.0535 129.747 49.5295 127.567 49.5295C125.386 49.5295 123.751 51.0535 123.751 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M127.567 60.4513C131.932 60.4513 135.472 57.1535 135.472 53.0854C135.472 49.0173 131.932 45.7195 127.567 45.7195C123.201 45.7195 119.662 49.0173 119.662 53.0854C119.662 57.1535 123.201 60.4513 127.567 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 53.0855C98.4011 55.1175 100.037 56.6415 102.217 56.6415C104.398 56.6415 106.033 55.1175 106.033 53.0855C106.033 51.0535 104.398 49.5295 102.217 49.5295C100.037 49.5295 98.4011 51.0535 98.4011 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M101.944 60.4513C97.5832 60.4513 94.0397 57.1494 94.0397 53.0854C94.0397 49.0214 97.5832 45.7195 101.944 45.7195C106.306 45.7195 109.849 49.0214 109.849 53.0854C109.849 57.1494 106.306 60.4513 101.944 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 53.0855C74.4141 55.1175 76.0495 56.6415 78.2302 56.6415C80.4108 56.6415 82.0463 55.1175 82.0463 53.0855C82.0463 51.0535 80.4108 49.5295 78.2302 49.5295C76.0495 49.5295 74.4141 51.0535 74.4141 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 60.4513C82.5959 60.4513 86.135 57.1535 86.135 53.0854C86.135 49.0173 82.5959 45.7195 78.2302 45.7195C73.8645 45.7195 70.3254 49.0173 70.3254 53.0854C70.3254 57.1535 73.8645 60.4513 78.2302 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M50.427 53.0855C50.427 55.1175 52.0625 56.6415 54.2431 56.6415C56.4237 56.6415 58.0592 55.1175 58.0592 53.0855C58.0592 51.0535 56.4237 49.5295 54.2431 49.5295C52.0625 49.5295 50.427 51.0535 50.427 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 60.4513C58.6089 60.4513 62.148 57.1535 62.148 53.0854C62.148 49.0173 58.6089 45.7195 54.2432 45.7195C49.8775 45.7195 46.3384 49.0173 46.3384 53.0854C46.3384 57.1535 49.8775 60.4513 54.2432 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 53.0855C26.9852 55.1175 28.6207 56.6415 30.8013 56.6415C32.982 56.6415 34.6174 55.1175 34.6174 53.0855C34.6174 51.0535 32.982 49.5295 30.8013 49.5295C28.8933 49.5295 26.9852 51.0535 26.9852 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 60.4513C35.167 60.4513 38.7061 57.1535 38.7061 53.0854C38.7061 49.0173 35.167 45.7195 30.8013 45.7195C26.4356 45.7195 22.8965 49.0173 22.8965 53.0854C22.8965 57.1535 26.4356 60.4513 30.8013 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 53.0855C4.08875 55.1175 5.72422 56.6415 7.90485 56.6415C10.0855 56.6415 11.721 55.1175 11.721 53.0855C11.721 51.0535 10.0855 49.5295 7.90485 49.5295C5.72422 49.5295 4.08875 51.0535 4.08875 53.0855Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 60.4513C3.54353 60.4513 0 57.1494 0 53.0854C0 49.0214 3.54353 45.7195 7.90479 45.7195C12.2661 45.7195 15.8096 49.0214 15.8096 53.0854C15.8096 57.1494 11.9935 60.4513 7.90479 60.4513Z' fill='%234285F3'/%3E%3Cpath d='M123.751 75.4373C123.751 77.4693 125.386 78.9933 127.567 78.9933C129.747 78.9933 131.383 77.4693 131.383 75.4373C131.383 73.4053 129.747 71.8813 127.567 71.8813C125.386 71.8813 123.751 73.4053 123.751 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M127.567 82.8031C131.932 82.8031 135.472 79.5053 135.472 75.4372C135.472 71.3691 131.932 68.0713 127.567 68.0713C123.201 68.0713 119.662 71.3691 119.662 75.4372C119.662 79.5053 123.201 82.8031 127.567 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 75.4373C98.4011 77.4693 100.037 78.9933 102.217 78.9933C104.398 78.9933 106.033 77.4693 106.033 75.4373C106.033 73.4053 104.398 71.8813 102.217 71.8813C100.037 71.8813 98.4011 73.4053 98.4011 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M101.944 82.8031C97.5832 82.8031 94.0397 79.5012 94.0397 75.4372C94.0397 71.3733 97.5832 68.0713 101.944 68.0713C106.306 68.0713 109.849 71.3733 109.849 75.4372C109.849 79.5012 106.306 82.8031 101.944 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 75.4373C74.4141 77.4693 76.0495 78.9933 78.2302 78.9933C80.4108 78.9933 82.0463 77.4693 82.0463 75.4373C82.0463 73.4053 80.4108 71.8813 78.2302 71.8813C76.0495 71.8813 74.4141 73.4053 74.4141 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 82.8031C82.5959 82.8031 86.135 79.5053 86.135 75.4372C86.135 71.3691 82.5959 68.0713 78.2302 68.0713C73.8645 68.0713 70.3254 71.3691 70.3254 75.4372C70.3254 79.5053 73.8645 82.8031 78.2302 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M50.427 75.4373C50.427 77.4693 52.0625 78.9933 54.2431 78.9933C56.4237 78.9933 58.0592 77.4693 58.0592 75.4373C58.0592 73.4053 56.4237 71.8813 54.2431 71.8813C52.0625 71.8813 50.427 73.4053 50.427 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 82.8031C58.6089 82.8031 62.148 79.5053 62.148 75.4372C62.148 71.3691 58.6089 68.0713 54.2432 68.0713C49.8775 68.0713 46.3384 71.3691 46.3384 75.4372C46.3384 79.5053 49.8775 82.8031 54.2432 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 75.4373C26.9852 77.4693 28.6207 78.9933 30.8013 78.9933C32.982 78.9933 34.6174 77.4693 34.6174 75.4373C34.6174 73.4053 32.982 71.8813 30.8013 71.8813C28.8933 71.8813 26.9852 73.4053 26.9852 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 82.8031C35.167 82.8031 38.7061 79.5053 38.7061 75.4372C38.7061 71.3691 35.167 68.0713 30.8013 68.0713C26.4356 68.0713 22.8965 71.3691 22.8965 75.4372C22.8965 79.5053 26.4356 82.8031 30.8013 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 75.4373C4.08875 77.4693 5.72422 78.9933 7.90485 78.9933C10.0855 78.9933 11.721 77.4693 11.721 75.4373C11.721 73.4053 10.0855 71.8813 7.90485 71.8813C5.72422 71.8813 4.08875 73.4053 4.08875 75.4373Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 82.8031C3.54353 82.8031 0 79.5012 0 75.4372C0 71.3733 3.54353 68.0713 7.90479 68.0713C12.2661 68.0713 15.8096 71.3733 15.8096 75.4372C15.537 79.5012 11.9935 82.8031 7.90479 82.8031Z' fill='%234285F3'/%3E%3Cpath d='M123.751 97.7889C123.751 99.8209 125.386 101.345 127.567 101.345C129.747 101.345 131.383 99.8209 131.383 97.7889C131.383 95.7569 129.747 94.2329 127.567 94.2329C125.386 94.2329 123.751 95.7569 123.751 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M127.567 105.155C131.932 105.155 135.472 101.857 135.472 97.789C135.472 93.7209 131.932 90.4231 127.567 90.4231C123.201 90.4231 119.662 93.7209 119.662 97.789C119.662 101.857 123.201 105.155 127.567 105.155Z' fill='%234285F3'/%3E%3Cpath d='M98.4011 97.7889C98.4011 99.8209 100.037 101.345 102.217 101.345C104.398 101.345 106.033 99.8209 106.033 97.7889C106.033 95.7569 104.398 94.2329 102.217 94.2329C100.037 94.2329 98.4011 95.7569 98.4011 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M101.944 105.155C97.5832 105.155 94.0397 101.853 94.0397 97.789C94.0397 93.7251 97.5832 90.4231 101.944 90.4231C106.306 90.4231 109.849 93.7251 109.849 97.789C109.849 101.853 106.306 105.155 101.944 105.155Z' fill='%234285F3'/%3E%3Cpath d='M74.4141 97.7889C74.4141 99.8209 76.0495 101.345 78.2302 101.345C80.4108 101.345 82.0463 99.8209 82.0463 97.7889C82.0463 95.7569 80.4108 94.2329 78.2302 94.2329C76.0495 94.2329 74.4141 95.7569 74.4141 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M78.2302 105.155C82.5959 105.155 86.135 101.857 86.135 97.789C86.135 93.7209 82.5959 90.4231 78.2302 90.4231C73.8645 90.4231 70.3254 93.7209 70.3254 97.789C70.3254 101.857 73.8645 105.155 78.2302 105.155Z' fill='%234285F3'/%3E%3Cpath d='M50.427 97.7889C50.427 99.8209 52.0625 101.345 54.2431 101.345C56.4237 101.345 58.0592 99.8209 58.0592 97.7889C58.0592 95.7569 56.4237 94.2329 54.2431 94.2329C52.0625 94.2329 50.427 95.7569 50.427 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M54.2432 105.155C58.6089 105.155 62.148 101.857 62.148 97.789C62.148 93.7209 58.6089 90.4231 54.2432 90.4231C49.8775 90.4231 46.3384 93.7209 46.3384 97.789C46.3384 101.857 49.8775 105.155 54.2432 105.155Z' fill='%234285F3'/%3E%3Cpath d='M26.9852 97.7889C26.9852 99.8209 28.6207 101.345 30.8013 101.345C32.982 101.345 34.6174 99.8209 34.6174 97.7889C34.6174 95.7569 32.982 94.2329 30.8013 94.2329C28.8933 94.2329 26.9852 95.7569 26.9852 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M30.8013 105.155C35.167 105.155 38.7061 101.857 38.7061 97.789C38.7061 93.7209 35.167 90.4231 30.8013 90.4231C26.4356 90.4231 22.8965 93.7209 22.8965 97.789C22.8965 101.857 26.4356 105.155 30.8013 105.155Z' fill='%234285F3'/%3E%3Cpath d='M4.08875 97.7889C4.08875 99.8209 5.72422 101.345 7.90485 101.345C10.0855 101.345 11.721 99.8209 11.721 97.7889C11.721 95.7569 10.0855 94.2329 7.90485 94.2329C5.72422 94.2329 4.08875 95.7569 4.08875 97.7889Z' fill='%234285F3'/%3E%3Cpath d='M7.90479 105.155C3.54353 105.155 0 101.853 0 97.789C0 93.7251 3.54353 90.4231 7.90479 90.4231C12.2661 90.4231 15.8096 93.7251 15.8096 97.789C15.8096 101.853 11.9935 105.155 7.90479 105.155Z' fill='%234285F3'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        top: -4.5rem;
        left: -2.6rem;
    }

    &__title {
        @include font-setting($title-font, 0.75rem, 0.875rem, 800, $light-black);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.625rem;
    }

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__slider {
        width: 100%;
    }

    .video-top {
        margin-bottom: 0.625rem;
        position: relative;

        .swiper-button-disabled {
            opacity: 0.5;
        }

        .video__controls {
            width: 100%;
            max-width: 170px;
            @include flex-setting(row, space-between, center);

            z-index: 4;

            position: absolute;
            top: 45%;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        .video__next-th,
        .video__prev-th {
            background-color: transparent;
            border: none;

            width: 36px;
            height: 32px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .video__prev-th {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='32' viewBox='0 0 36 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 3.41211L11.7639 15.9539L35.9082 30.3401L36 3.41211Z' fill='white'/%3E%3Cpath d='M0.380299 0H8.45898V32H0.380299V0Z' fill='white'/%3E%3C/svg%3E");
        }

        .video__next-th {
            background-image: url("data:image/svg+xml,%3Csvg width='36' height='32' viewBox='0 0 36 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.41211L24.2361 15.9539L0.0918033 30.3401L0 3.41211Z' fill='white'/%3E%3Cpath d='M35.6197 0H27.541V32H35.6197V0Z' fill='white'/%3E%3C/svg%3E");
        }
    }

    .video-thumbs {
        width: 100%;
        max-height: 180px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;

        .video__slide {
            @include flex-setting(column, center, flex-start);
            position: relative;
        }

        .video__name {
            margin-left: 0;
            position: absolute;
            bottom: -1rem;
        }

        .swiper-scrollbar {
            width: 10px;
            height: calc(100% - 1.5rem);
            border-radius: 0;
            top: 0;
            background-color: $pink;
            border: 1px solid $light-black;
        }

        .swiper-scrollbar-drag {
            border-radius: 0;
            background-color: $violet;
            border-top: 1px solid $light-black;
            border-bottom: 1px solid $light-black;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;

        margin-bottom: 0.5rem;
        background-color: $violet;

        border: 2px solid $light-black;
    }

    &__name {
        @include font-setting($title-font, 0.75rem, 0.875rem, 800, $light-black);
        text-transform: uppercase;
        padding-left: 1.25rem;
        margin-left: 0.75rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 13px;
            height: 14px;

            background-color: $violet;
            border: 2px solid $light-black;

            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__preview {
        @include flex-setting(column, center, center);
        background-color: $violet;
        width: 100%;
        height: 100%;
        margin-bottom: 0.5rem;
        border: 2px solid $light-black;
        position: relative;
    }

    &__frame {
        @include flex-setting(column, center, center);
        width: 100%;
        height: 100%;

        &-poster {
            width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 16 / 9;
        }
    }

    &__duration {
        padding: 0.125rem 0.25rem;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.75rem, 0.875rem, 500, $light-black);
        background-color: $yellow;
        border: 1px solid $light-black;

        position: absolute;
        bottom: 0.375rem;
        right: 0.375rem;
    }
}

@include min-screen(768px) {
    .video {
        margin-top: 1rem;
        margin-bottom: 0;

        &::after {
            width: 108px;
            height: 89px;
            background-image: url("data:image/svg+xml,%3Csvg width='165' height='137' viewBox='0 0 165 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M151.028 9.59659C151.028 12.2439 153.024 14.2294 155.685 14.2294C158.346 14.2294 160.342 12.2439 160.342 9.59659C160.342 6.94925 158.346 4.96374 155.685 4.96374C153.024 4.63282 151.028 6.94925 151.028 9.59659Z' fill='%23F88804'/%3E%3Cpath d='M155.685 19.1932C161.013 19.1932 165.332 14.8967 165.332 9.59662C165.332 4.29655 161.013 0 155.685 0C150.357 0 146.038 4.29655 146.038 9.59662C146.038 14.8967 150.357 19.1932 155.685 19.1932Z' fill='%23F88804'/%3E%3Cpath d='M120.091 9.59659C120.091 12.2439 122.087 14.2294 124.748 14.2294C127.409 14.2294 129.405 12.2439 129.405 9.59659C129.405 6.94925 127.409 4.96374 124.748 4.96374C122.087 4.63282 120.091 6.94925 120.091 9.59659Z' fill='%23F88804'/%3E%3Cpath d='M124.415 18.8623C119.093 18.8623 114.768 14.5604 114.768 9.2657C114.768 3.97101 119.425 0 124.415 0C129.738 0 134.062 4.30193 134.062 9.59662C134.062 14.8913 129.738 18.8623 124.415 18.8623Z' fill='%23F88804'/%3E%3Cpath d='M90.8164 9.59659C90.8164 12.2439 92.8124 14.2294 95.4737 14.2294C98.135 14.2294 100.131 12.2439 100.131 9.59659C100.131 6.94925 98.135 4.96374 95.4737 4.96374C92.8124 4.63282 90.8164 6.94925 90.8164 9.59659Z' fill='%23F88804'/%3E%3Cpath d='M95.4738 19.1932C100.802 19.1932 105.121 14.8967 105.121 9.59662C105.121 4.29655 100.802 0 95.4738 0C90.1459 0 85.8267 4.29655 85.8267 9.59662C85.8267 14.8967 90.1459 19.1932 95.4738 19.1932Z' fill='%23F88804'/%3E%3Cpath d='M61.542 9.59659C61.542 12.2439 63.538 14.2294 66.1993 14.2294C68.8605 14.2294 70.8565 12.2439 70.8565 9.59659C70.8565 6.94925 68.8605 4.96374 66.1993 4.96374C63.538 4.63282 61.542 6.94925 61.542 9.59659Z' fill='%23F88804'/%3E%3Cpath d='M66.1994 19.1932C71.5274 19.1932 75.8466 14.8967 75.8466 9.59662C75.8466 4.29655 71.5274 0 66.1994 0C60.8714 0 56.5522 4.29655 56.5522 9.59662C56.5522 14.8967 60.8714 19.1932 66.1994 19.1932Z' fill='%23F88804'/%3E%3Cpath d='M32.9331 9.59659C32.9331 12.2439 34.9291 14.2294 37.5904 14.2294C40.2517 14.2294 42.2476 12.2439 42.2476 9.59659C42.2476 6.94925 40.2517 4.96374 37.5904 4.96374C35.2617 4.63282 32.9331 6.94925 32.9331 9.59659Z' fill='%23F88804'/%3E%3Cpath d='M37.5905 19.1932C42.9185 19.1932 47.2377 14.8967 47.2377 9.59662C47.2377 4.29655 42.9185 0 37.5905 0C32.2626 0 27.9434 4.29655 27.9434 9.59662C27.9434 14.8967 32.2626 19.1932 37.5905 19.1932Z' fill='%23F88804'/%3E%3Cpath d='M4.98975 9.59659C4.98975 12.2439 6.98571 14.2294 9.64701 14.2294C12.3083 14.2294 14.3043 12.2439 14.3043 9.59659C14.3043 6.94925 12.3083 4.96374 9.64701 4.96374C6.98571 4.63282 4.98975 6.94925 4.98975 9.59659Z' fill='%23F88804'/%3E%3Cpath d='M9.64718 18.8623C4.3246 18.8623 0 14.5604 0 9.59662C0 4.63285 4.3246 0 9.64718 0C14.9698 0 19.2944 4.30193 19.2944 9.59662C19.2944 14.8913 14.6371 18.8623 9.64718 18.8623Z' fill='%23F88804'/%3E%3Cpath d='M151.028 39.7102C151.028 42.3576 153.024 44.3431 155.685 44.3431C158.346 44.3431 160.342 42.3576 160.342 39.7102C160.342 37.0629 158.346 35.0774 155.685 35.0774C153.024 34.7465 151.028 37.0629 151.028 39.7102Z' fill='%23F88804'/%3E%3Cpath d='M155.685 49.3068C161.013 49.3068 165.332 45.0102 165.332 39.7101C165.332 34.4101 161.013 30.1135 155.685 30.1135C150.357 30.1135 146.038 34.4101 146.038 39.7101C146.038 45.0102 150.357 49.3068 155.685 49.3068Z' fill='%23F88804'/%3E%3Cpath d='M120.091 39.7101C120.091 42.3575 122.087 44.343 124.748 44.343C127.409 44.343 129.405 42.3575 129.405 39.7101C129.405 37.0628 127.409 35.0773 124.748 35.0773C122.087 34.7464 120.091 37.0628 120.091 39.7101Z' fill='%23F88804'/%3E%3Cpath d='M124.415 48.9758C119.093 48.9758 114.768 44.6739 114.768 39.3792C114.768 34.0845 119.093 29.7826 124.415 29.7826C129.738 29.7826 134.062 34.0845 134.062 39.3792C134.062 44.6739 129.738 48.9758 124.415 48.9758Z' fill='%23F88804'/%3E%3Cpath d='M90.8164 39.7102C90.8164 42.3576 92.8124 44.3431 95.4737 44.3431C98.135 44.3431 100.131 42.3576 100.131 39.7102C100.131 37.0629 98.135 35.0774 95.4737 35.0774C92.8124 34.7465 90.8164 37.0629 90.8164 39.7102Z' fill='%23F88804'/%3E%3Cpath d='M95.4738 49.3068C100.802 49.3068 105.121 45.0102 105.121 39.7101C105.121 34.4101 100.802 30.1135 95.4738 30.1135C90.1459 30.1135 85.8267 34.4101 85.8267 39.7101C85.8267 45.0102 90.1459 49.3068 95.4738 49.3068Z' fill='%23F88804'/%3E%3Cpath d='M61.542 39.7102C61.542 42.3576 63.538 44.3431 66.1993 44.3431C68.8605 44.3431 70.8565 42.3576 70.8565 39.7102C70.8565 37.0629 68.8605 35.0774 66.1993 35.0774C63.538 34.7465 61.542 37.0629 61.542 39.7102Z' fill='%23F88804'/%3E%3Cpath d='M66.1994 49.3068C71.5274 49.3068 75.8466 45.0102 75.8466 39.7101C75.8466 34.4101 71.5274 30.1135 66.1994 30.1135C60.8714 30.1135 56.5522 34.4101 56.5522 39.7101C56.5522 45.0102 60.8714 49.3068 66.1994 49.3068Z' fill='%23F88804'/%3E%3Cpath d='M32.9331 39.7102C32.9331 42.3576 34.9291 44.3431 37.5904 44.3431C40.2517 44.3431 42.2476 42.3576 42.2476 39.7102C42.2476 37.0629 40.2517 35.0774 37.5904 35.0774C35.2617 34.7465 32.9331 37.0629 32.9331 39.7102Z' fill='%23F88804'/%3E%3Cpath d='M37.5905 49.3068C42.9185 49.3068 47.2377 45.0102 47.2377 39.7101C47.2377 34.4101 42.9185 30.1135 37.5905 30.1135C32.2626 30.1135 27.9434 34.4101 27.9434 39.7101C27.9434 45.0102 32.2626 49.3068 37.5905 49.3068Z' fill='%23F88804'/%3E%3Cpath d='M4.98975 39.7102C4.98975 42.3576 6.98571 44.3431 9.64701 44.3431C12.3083 44.3431 14.3043 42.3576 14.3043 39.7102C14.3043 37.0629 12.3083 35.0774 9.64701 35.0774C6.98571 34.7465 4.98975 37.0629 4.98975 39.7102Z' fill='%23F88804'/%3E%3Cpath d='M9.64718 48.9758C4.3246 48.9758 0 44.6739 0 39.7101C0 34.7464 4.3246 30.1135 9.64718 30.1135C14.9698 30.1135 19.2944 34.4155 19.2944 39.7101C19.2944 45.0048 14.6371 48.9758 9.64718 48.9758Z' fill='%23F88804'/%3E%3Cpath d='M151.028 69.1618C151.028 71.8091 153.024 73.7946 155.685 73.7946C158.346 73.7946 160.342 71.8091 160.342 69.1618C160.342 66.5144 158.346 64.5289 155.685 64.5289C153.024 64.5289 151.028 66.5144 151.028 69.1618Z' fill='%23F88804'/%3E%3Cpath d='M155.685 78.7584C161.013 78.7584 165.332 74.4619 165.332 69.1618C165.332 63.8617 161.013 59.5652 155.685 59.5652C150.357 59.5652 146.038 63.8617 146.038 69.1618C146.038 74.4619 150.357 78.7584 155.685 78.7584Z' fill='%23F88804'/%3E%3Cpath d='M120.091 69.1618C120.091 71.8091 122.087 73.7946 124.748 73.7946C127.409 73.7946 129.405 71.8091 129.405 69.1618C129.405 66.5144 127.409 64.5289 124.748 64.5289C122.087 64.5289 120.091 66.5144 120.091 69.1618Z' fill='%23F88804'/%3E%3Cpath d='M124.415 78.7584C119.093 78.7584 114.768 74.4565 114.768 69.1618C114.768 63.8671 119.093 59.5652 124.415 59.5652C129.738 59.5652 134.062 63.8671 134.062 69.1618C134.062 74.4565 129.738 78.7584 124.415 78.7584Z' fill='%23F88804'/%3E%3Cpath d='M90.8164 69.1618C90.8164 71.8091 92.8124 73.7946 95.4737 73.7946C98.135 73.7946 100.131 71.8091 100.131 69.1618C100.131 66.5144 98.135 64.5289 95.4737 64.5289C92.8124 64.5289 90.8164 66.5144 90.8164 69.1618Z' fill='%23F88804'/%3E%3Cpath d='M95.4738 78.7584C100.802 78.7584 105.121 74.4619 105.121 69.1618C105.121 63.8617 100.802 59.5652 95.4738 59.5652C90.1459 59.5652 85.8267 63.8617 85.8267 69.1618C85.8267 74.4619 90.1459 78.7584 95.4738 78.7584Z' fill='%23F88804'/%3E%3Cpath d='M61.542 69.1618C61.542 71.8091 63.538 73.7946 66.1993 73.7946C68.8605 73.7946 70.8565 71.8091 70.8565 69.1618C70.8565 66.5144 68.8605 64.5289 66.1993 64.5289C63.538 64.5289 61.542 66.5144 61.542 69.1618Z' fill='%23F88804'/%3E%3Cpath d='M66.1994 78.7584C71.5274 78.7584 75.8466 74.4619 75.8466 69.1618C75.8466 63.8617 71.5274 59.5652 66.1994 59.5652C60.8714 59.5652 56.5522 63.8617 56.5522 69.1618C56.5522 74.4619 60.8714 78.7584 66.1994 78.7584Z' fill='%23F88804'/%3E%3Cpath d='M32.9331 69.1618C32.9331 71.8091 34.9291 73.7946 37.5904 73.7946C40.2517 73.7946 42.2476 71.8091 42.2476 69.1618C42.2476 66.5144 40.2517 64.5289 37.5904 64.5289C35.2617 64.5289 32.9331 66.5144 32.9331 69.1618Z' fill='%23F88804'/%3E%3Cpath d='M37.5905 78.7584C42.9185 78.7584 47.2377 74.4619 47.2377 69.1618C47.2377 63.8617 42.9185 59.5652 37.5905 59.5652C32.2626 59.5652 27.9434 63.8617 27.9434 69.1618C27.9434 74.4619 32.2626 78.7584 37.5905 78.7584Z' fill='%23F88804'/%3E%3Cpath d='M4.98975 69.1618C4.98975 71.8091 6.98571 73.7946 9.64701 73.7946C12.3083 73.7946 14.3043 71.8091 14.3043 69.1618C14.3043 66.5144 12.3083 64.5289 9.64701 64.5289C6.98571 64.5289 4.98975 66.5144 4.98975 69.1618Z' fill='%23F88804'/%3E%3Cpath d='M9.64718 78.7584C4.3246 78.7584 0 74.4565 0 69.1618C0 63.8671 4.3246 59.5652 9.64718 59.5652C14.9698 59.5652 19.2944 63.8671 19.2944 69.1618C19.2944 74.4565 14.6371 78.7584 9.64718 78.7584Z' fill='%23F88804'/%3E%3Cpath d='M151.028 98.2828C151.028 100.93 153.024 102.916 155.685 102.916C158.346 102.916 160.342 100.93 160.342 98.2828C160.342 95.6354 158.346 93.6499 155.685 93.6499C153.024 93.6499 151.028 95.6354 151.028 98.2828Z' fill='%23F88804'/%3E%3Cpath d='M155.685 107.879C161.013 107.879 165.332 103.583 165.332 98.2828C165.332 92.9827 161.013 88.6862 155.685 88.6862C150.357 88.6862 146.038 92.9827 146.038 98.2828C146.038 103.583 150.357 107.879 155.685 107.879Z' fill='%23F88804'/%3E%3Cpath d='M120.091 98.2828C120.091 100.93 122.087 102.916 124.748 102.916C127.409 102.916 129.405 100.93 129.405 98.2828C129.405 95.6354 127.409 93.6499 124.748 93.6499C122.087 93.6499 120.091 95.6354 120.091 98.2828Z' fill='%23F88804'/%3E%3Cpath d='M124.415 107.879C119.093 107.879 114.768 103.577 114.768 98.2828C114.768 92.9881 119.093 88.6862 124.415 88.6862C129.738 88.6862 134.062 92.9881 134.062 98.2828C134.062 103.577 129.738 107.879 124.415 107.879Z' fill='%23F88804'/%3E%3Cpath d='M90.8164 98.2828C90.8164 100.93 92.8124 102.916 95.4737 102.916C98.135 102.916 100.131 100.93 100.131 98.2828C100.131 95.6354 98.135 93.6499 95.4737 93.6499C92.8124 93.6499 90.8164 95.6354 90.8164 98.2828Z' fill='%23F88804'/%3E%3Cpath d='M95.4738 107.879C100.802 107.879 105.121 103.583 105.121 98.2828C105.121 92.9827 100.802 88.6862 95.4738 88.6862C90.1459 88.6862 85.8267 92.9827 85.8267 98.2828C85.8267 103.583 90.1459 107.879 95.4738 107.879Z' fill='%23F88804'/%3E%3Cpath d='M61.542 98.2828C61.542 100.93 63.538 102.916 66.1993 102.916C68.8605 102.916 70.8565 100.93 70.8565 98.2828C70.8565 95.6354 68.8605 93.6499 66.1993 93.6499C63.538 93.6499 61.542 95.6354 61.542 98.2828Z' fill='%23F88804'/%3E%3Cpath d='M66.1994 107.879C71.5274 107.879 75.8466 103.583 75.8466 98.2828C75.8466 92.9827 71.5274 88.6862 66.1994 88.6862C60.8714 88.6862 56.5522 92.9827 56.5522 98.2828C56.5522 103.583 60.8714 107.879 66.1994 107.879Z' fill='%23F88804'/%3E%3Cpath d='M32.9331 98.2828C32.9331 100.93 34.9291 102.916 37.5904 102.916C40.2517 102.916 42.2476 100.93 42.2476 98.2828C42.2476 95.6354 40.2517 93.6499 37.5904 93.6499C35.2617 93.6499 32.9331 95.6354 32.9331 98.2828Z' fill='%23F88804'/%3E%3Cpath d='M37.5905 107.879C42.9185 107.879 47.2377 103.583 47.2377 98.2828C47.2377 92.9827 42.9185 88.6862 37.5905 88.6862C32.2626 88.6862 27.9434 92.9827 27.9434 98.2828C27.9434 103.583 32.2626 107.879 37.5905 107.879Z' fill='%23F88804'/%3E%3Cpath d='M4.98975 98.2828C4.98975 100.93 6.98571 102.916 9.64701 102.916C12.3083 102.916 14.3043 100.93 14.3043 98.2828C14.3043 95.6354 12.3083 93.6499 9.64701 93.6499C6.98571 93.6499 4.98975 95.6354 4.98975 98.2828Z' fill='%23F88804'/%3E%3Cpath d='M9.64718 107.879C4.3246 107.879 0 103.577 0 98.2828C0 92.9881 4.3246 88.6862 9.64718 88.6862C14.9698 88.6862 19.2944 92.9881 19.2944 98.2828C18.9617 103.577 14.6371 107.879 9.64718 107.879Z' fill='%23F88804'/%3E%3Cpath d='M151.028 127.403C151.028 130.051 153.024 132.036 155.685 132.036C158.346 132.036 160.342 130.051 160.342 127.403C160.342 124.756 158.346 122.77 155.685 122.77C153.024 122.77 151.028 124.756 151.028 127.403Z' fill='%23F88804'/%3E%3Cpath d='M155.685 137C161.013 137 165.332 132.703 165.332 127.403C165.332 122.103 161.013 117.807 155.685 117.807C150.357 117.807 146.038 122.103 146.038 127.403C146.038 132.703 150.357 137 155.685 137Z' fill='%23F88804'/%3E%3Cpath d='M120.091 127.403C120.091 130.051 122.087 132.036 124.748 132.036C127.409 132.036 129.405 130.051 129.405 127.403C129.405 124.756 127.409 122.77 124.748 122.77C122.087 122.77 120.091 124.756 120.091 127.403Z' fill='%23F88804'/%3E%3Cpath d='M124.415 137C119.093 137 114.768 132.698 114.768 127.403C114.768 122.109 119.093 117.807 124.415 117.807C129.738 117.807 134.062 122.109 134.062 127.403C134.062 132.698 129.738 137 124.415 137Z' fill='%23F88804'/%3E%3Cpath d='M90.8164 127.403C90.8164 130.051 92.8124 132.036 95.4737 132.036C98.135 132.036 100.131 130.051 100.131 127.403C100.131 124.756 98.135 122.77 95.4737 122.77C92.8124 122.77 90.8164 124.756 90.8164 127.403Z' fill='%23F88804'/%3E%3Cpath d='M95.4738 137C100.802 137 105.121 132.703 105.121 127.403C105.121 122.103 100.802 117.807 95.4738 117.807C90.1459 117.807 85.8267 122.103 85.8267 127.403C85.8267 132.703 90.1459 137 95.4738 137Z' fill='%23F88804'/%3E%3Cpath d='M61.542 127.403C61.542 130.051 63.538 132.036 66.1993 132.036C68.8605 132.036 70.8565 130.051 70.8565 127.403C70.8565 124.756 68.8605 122.77 66.1993 122.77C63.538 122.77 61.542 124.756 61.542 127.403Z' fill='%23F88804'/%3E%3Cpath d='M66.1994 137C71.5274 137 75.8466 132.703 75.8466 127.403C75.8466 122.103 71.5274 117.807 66.1994 117.807C60.8714 117.807 56.5522 122.103 56.5522 127.403C56.5522 132.703 60.8714 137 66.1994 137Z' fill='%23F88804'/%3E%3Cpath d='M32.9331 127.403C32.9331 130.051 34.9291 132.036 37.5904 132.036C40.2517 132.036 42.2476 130.051 42.2476 127.403C42.2476 124.756 40.2517 122.77 37.5904 122.77C35.2617 122.77 32.9331 124.756 32.9331 127.403Z' fill='%23F88804'/%3E%3Cpath d='M37.5905 137C42.9185 137 47.2377 132.703 47.2377 127.403C47.2377 122.103 42.9185 117.807 37.5905 117.807C32.2626 117.807 27.9434 122.103 27.9434 127.403C27.9434 132.703 32.2626 137 37.5905 137Z' fill='%23F88804'/%3E%3Cpath d='M4.98975 127.403C4.98975 130.051 6.98571 132.036 9.64701 132.036C12.3083 132.036 14.3043 130.051 14.3043 127.403C14.3043 124.756 12.3083 122.77 9.64701 122.77C6.98571 122.77 4.98975 124.756 4.98975 127.403Z' fill='%23F88804'/%3E%3Cpath d='M9.64718 137C4.3246 137 0 132.698 0 127.403C0 122.109 4.3246 117.807 9.64718 117.807C14.9698 117.807 19.2944 122.109 19.2944 127.403C19.2944 132.698 14.6371 137 9.64718 137Z' fill='%23F88804'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='165' height='137' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

            top: 30%;
            transform: translateY(-50%);
            left: auto;

            right: -3rem;
        }

        &::before {
            position: absolute;
            content: '';

            width: 80px;
            height: 80px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/content/pin.svg');

            top: 4rem;
            left: 3rem;

            transform: scaleX(-1);

            z-index: 10;
        }

        &__title {
            max-width: 612px;
            font-size: 1.0625rem;
            line-height: 1.25rem;
            margin-bottom: 1.25rem;
        }

        .video-top {
            max-width: 612px;
            margin-bottom: 2.875rem;
            padding-bottom: 0.25rem;

            .video__controls {
                max-width: 316px;
            }

            .video__next-th,
            .video__prev-th {
                width: 68px;
                height: 61px;
            }
        }

        .video-thumbs {
            width: 100%;
            max-width: 612px;
            max-height: 320px;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 2rem;

            .video__name {
                margin-left: 0;
                position: absolute;
                bottom: -1.625rem;
            }

            .swiper-scrollbar {
                width: 18px;
                height: calc(100% - 2rem - 0.25rem);
                border-width: 2px;
            }
        }

        &__name {
            font-size: 1.125rem;
            line-height: 1.375rem;
            padding-left: 2.625rem;
            margin-left: 0;

            &::after {
                width: 26px;
                height: 28px;

                background-color: $pink;
            }
        }

        &__preview {
            max-width: 582px;
        }

        &__duration {
            font-size: 1.125rem;
            line-height: 1.3125rem;
            padding: 0.25rem 0.75rem;

            bottom: 0.25rem;
            right: 0.25rem;
        }
    }
}

@include min-screen(1366px) {
    .video {
        margin-top: 0rem;
        &::after {
            width: 108px;
            height: 89px;
            top: 25%;

            right: 0.5rem;
        }

        &::before {
            display: none;
        }

        &__title {
            max-width: 604px;
            font-size: 1.125rem;
            line-height: 1.3125rem;
        }

        &__wrapper {
            max-width: 718px;
            display: grid;
            grid-template-columns: 510px 192px;
            grid-column-gap: 1rem;

            justify-content: center;
            align-items: start;

            position: relative;

            &::before {
                position: absolute;
                content: '';

                width: 80px;
                height: 80px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url('../images/content/pin.svg');

                top: -2rem;
                left: -2rem;

                transform: scaleX(-1);

                z-index: 10;
            }
        }

        .video-top {
            max-width: 100%;
            margin-bottom: 0;
            padding-bottom: 1.25rem;

            .video__controls {
                max-width: 88px;
                height: auto;
                top: auto;
                left: auto;
                transform: none;
                bottom: 0rem;
                right: 0;
            }

            .video__next-th,
            .video__prev-th {
                width: 39px;
                height: 39px;
                background-color: $pink;
                border: 3px solid $light-black;
                border-radius: 19.5px;
                background-size: 50%;
            }

            .video__prev-th {
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.126953 8.88633L15.3586 0.0923178L15.3586 17.6803L0.126953 8.88633Z' fill='%23272727'/%3E%3C/svg%3E");
                background-position: 40% 50%;
            }

            .video__next-th {
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2253 8.88614L0.993672 17.6801L0.993673 0.0921262L16.2253 8.88614Z' fill='%23272727'/%3E%3C/svg%3E");
                background-position: 60% 50%;
            }
        }

        .video-thumbs {
            padding-top: 0.25rem;
            max-width: 100%;
            max-height: 288px;
            padding-bottom: 0;

            .video__slide {
                max-width: 163px;
            }

            .video__name {
                display: none;
            }

            .swiper-scrollbar {
                width: 17px;
                height: 288px;
                border-width: 3px;
            }

            .swiper-scrollbar-drag {
                border-width: 3px;
            }
        }

        &__name {
            font-size: 0.875rem;
            line-height: 1.0625rem;
            padding-left: 1.75rem;

            &::after {
                width: 17px;
                height: 18px;

                background-color: $yellow;
            }
        }

        &__preview {
            max-width: 100%;
            border-width: 3px;
        }

        &__duration {
            font-size: 0.625rem;
            line-height: 0.75rem;
            padding: 0.125rem 0.25rem;
            border-width: 2px;

            bottom: 0.25rem;
            right: 0.25rem;
        }
    }
}

@include min-screen(1920px) {
    .video {
        &::after {
            width: 165px;
            height: 137px;
            top: 25%;

            right: -4.1rem;
        }

        &__title {
            max-width: 872px;
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 2.1875rem;
        }

        &__wrapper {
            max-width: 1084px;
            grid-template-columns: 778px 290px;

            &::before {
                width: 119px;
                height: 109px;

                top: -3rem;
                left: -3rem;
            }
        }

        .video-top {
            padding-bottom: 1.25rem;

            .video__content {
                margin-bottom: 1.875rem;
                max-height: 440px;
            }

            .video__controls {
                max-width: 132px;
            }

            .video__next-th,
            .video__prev-th {
                width: 59px;
                height: 59px;
                border-radius: 29.5px;
            }
        }

        .video-thumbs {
            padding-top: 0.25rem;
            max-height: 440px;

            .video__slide {
                max-width: 249px;
            }

            .swiper-scrollbar {
                width: 26px;
                height: 440px;
            }
        }

        &__name {
            font-size: 1.25rem;
            line-height: 1.5rem;
            padding-left: 2.625rem;

            &::after {
                width: 26px;
                height: 28px;
            }
        }

        &__duration {
            font-size: 0.75rem;
            line-height: 0.875rem;
            padding: 0.125rem 0.25rem;
        }
    }
}
