include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            .essay-bg
                img(src="static/images/content/essay-bg-blue-quad.svg" alt="").essay-bg__img.essay-img-1
                img(src="static/images/content/essay-bg-yellow-quad.svg" alt="").essay-bg__img.essay-img-2
                img(src="static/images/content/index-bg-yellow-round.svg" alt="").essay-bg__img.essay-img-3

            section.essay
                .essay__wrapper
                    h1.essay__title Расскажи, кто из героев Nickelodeon мог бы стать идеальным соседом по парте и почему?
                    
                    form(method="post" action="").essay__form
                        textarea(name="esse" id="esse" placeholder="Мой идеальный сосед по парте это...").essay__textarea
                        button(type="submit").essay__submit Отправить
                        .essay__reaction
                            p.essay__reaction-title Спасибо!
                                br
                                | Эссе успешно отправлено!
        include ../modules/footer/footer
        include ../modules/blocks/popup-prize
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        block script
