include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            section.result
                .result__wrapper
                    .result__main
                        picture.result__frame
                            source(srcset="static/images/content/pers-1.webp" type="image/webp")
                            img(src="static/images/content/pers-1.png" alt="Спанч Боб").result__frame-image.--first
                        h2.result__name Ты - Губка Боб
                        p.result__description Ты заботливый и дружелюбный, умеешь находить общий язык с любым человеком. Ты точно один из семейки Лаудов!
                        
                        .result__share
                            b.result__share-name Поделиться результатом:
                            +socialItem('Instagram', '#', 'fa-instagram')
                            +socialItem('VK', '#', 'fa-vk')
                        button(type="reset").result__reset Пройти ещё раз
                    .result__essay
                        h3.result__essay-tite Хочешь получить ещё больше призов?
                        p.result__essay-description Расскажи, кто из героев Nickelodeon &mdash; лучший сосед по парте!
                        
                        a(href="esse.html" target="_blank").results__esse-link Участвовать
        include ../modules/footer/footer
        include ../modules/blocks/popup-prize
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        block script
