include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            section.event
                .event__wrapper
                    h1.event__title Пройди тест, чтобы узнать, кто ты из героев Nickelodeon
                    
                    .event__test.test
                        b.test__count
                            span.test__count-current 1
                            | из 
                            span.test__count-all 8
                        h2.test__question Что возьмешь перекусить в школу?
                        ul.test__list
                            li.test__item
                                span.test__variant Булку, котлету, салат, сыр, лук, помидор, кетчуп, горчицу, пикули и еще одну булку
                            li.test__item
                                span.test__variant Принесу вкусняшек для всего класса! 
                            li.test__item
                                span.test__variant Напиток, который превратит меня во взрослого, и тогда мне не придется ходить в школу 
                            li.test__item
                                span.test__variant Молочный коктейль и 4 вида сыра
                            li.test__item
                                span.test__variant Достойную пищу настоящего рэпера
                            li.test__item
                                span.test__variant Горячий преступный суп
                    .event__info
                        h3.event__subtitle Пройди тест до конца и участвуй в розыгрыше ежедневного приза
                        p.event__description А если ответишь на вопрос творческого конкурса - то огромный рюкзак Nickelodeon, набитый подарками, может стать твоим!
        include ../modules/footer/footer
        include ../modules/blocks/popup-prize
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        block script
