include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            section.event.passed
                .event__wrapper
                    h1.event__title Пройди тест, чтобы узнать, кто ты из героев Nickelodeon
                    
                    .event__test
                        b.event__test-count
                            span.event__test-count-current 1 
                            | из 
                            span.event__test-count-all 8
                        h2.event__test-question Что возьмешь перекусить в школу?
                        ul.event__test-list
                            li.event__test-item
                                span.event__test-variant Булку, котлету, салат, сыр, лук, помидор, кетчуп, горчицу, пикули и еще одну булку
                            li.event__test-item
                                span.event__test-variant Принесу вкусняшек для всего класса! 
                            li.event__test-item
                                span.event__test-variant Напиток, который превратит меня во взрослого, и тогда мне не придется ходить в школу 
                            li.event__test-item
                                span.event__test-variant Молочный коктейль и 4 вида сыра
                            li.event__test-item
                                span.event__test-variant Достойную пищу настоящего рэпера
                            li.event__test-item
                                span.event__test-variant Горячий преступный суп
                    .event__info
                        h3.event__subtitle Пройди тест до конца и участвуй в розыгрыше ежедневного приза
                        p.event__description А если ответишь на вопрос творческого конкурса - то огромный рюкзак Nickelodeon, набитый подарками, может стать твоим!
            section.result
                .result__wrapper
                    .result__main
                        picture.result__frame
                            source(srcset="static/images/content/pers-1.webp" type="image/webp")
                            img(src="static/images/content/pers-1.png" alt="Спанч Боб").result__frame-image.--first
                        h2.result__name Ты - Губка Боб
                        p.result__description Ты заботливый и дружелюбный, умеешь находить общий язык с любым человеком. Ты точно один из семейки Лаудов!

                        .result__share
                            b.result__share-name Поделиться результатом:
                            .result__share-icons
                                +socialItem('Instagram', '#', 'fa-instagram')
                                +socialItem('VK', '#', 'fa-vk')
                        button(type="reset").result__reset Пройти ещё раз
                    .result__essay
                        h3.result__essay-title Хочешь получить ещё больше призов?
                        p.result__essay-description Расскажи, кто из героев Nickelodeon – лучший сосед по парте! 
                        img(src="static/images/content/backpack.svg" alt="Рюкзак").result__essay-pic
                        a(href="esse.html" target="_self").result__essay-link Участвовать
        include ../modules/footer/footer
        include ../modules/blocks/popup-prize
        //script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        block script
