include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            section.video
                h1.video__title наши актёры озвучания, которые тоже ходят в школу, уже готовы рассказать тебе, как легко вернуться к учёбе после летних каникул
                .video__wrapper
                    .video__slider.swiper-container.video-top
                        .swiper-wrapper
                            .video__slide.swiper-slide
                                video(class="video__content" src="static/videos/video-1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' controls="controls" tabindex="0")
                                h3.video__name Название ролика
                    .video__slider.swiper-container.video-thumbs
                        .swiper-wrapper
                            .video__slide.video__slide--thumbs.swiper-slide
                                picture.video__frame
                                    source(srcset="static/images/content/video-poster-1.webp" type="image/webp")
                                    img(src="static/images/content/video-poster-1.jpg" alt="VideoName").video__frame-poster
                    .video__controls
                        button(type="button").video__prev-th
                        button(type="button").video__next-th
        include ../modules/footer/footer
        include ../modules/blocks/popup-prize
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        block script
