// Colors
$white: #fff;
$black: #000000;
$light-black: #272727;
$yellow: #FFE100;
$red: #FF6700;
$green: #53EC50;
$violet: #6D40D2;
$pink: #FF7DAF;
$blue: #4285F3;
$sky: #57D6FF;
$orange: #FF6700;
$text-orange: #FFB32C;
// Sizes
$base-font-size: 16px;

$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$content: 1000px;

// Fonts
$primary-font: 'IBM Plex Sans', sans-serif;
$title-font: 'Cy Grotesk', sans-serif;
$adv-font: 'IBM Plex Mono', sans-serif;
$text-black: $black;
$text-white: $white;
