footer.footer
    .footer__logo
        a(href="#" target="_blank").footer__logo-link
            img(src="static/images/content/kion.svg" alt="KION").footer__logo-link
    .footer__social
        +socialItem('Instagram', '#', 'fa-instagram')
        +socialItem('Instagram', '#', 'fa-vk')
        +socialItem('Instagram', '#', 'fa-youtube')
    p.footer__legal ©ВиакомСиБиЭс Интернэшнл Медиа Нетворкс, Создатель мультфильма “Губка Боб Квадратные Штаны” Стивен Хилленберг.
