footer.footer
    .footer__logo
        a(href="#" target="_blank").footer__logo-link
            img(src="static/images/content/kion.svg" alt="KION").footer__logo-img
    .footer__social
        li.social__item
            a(href="#" target="_blank").social__link.social__link--in
        li.social__item
            a(href="#" target="_blank").social__link.social__link--vk
        li.social__item
            a(href="#" target="_blank").social__link.social__link--yt
    span.footer__legal ©ВиакомСиБиЭс Интернэшнл Медиа Нетворкс, Создатель мультфильма “Губка Боб Квадратные Штаны” Стивен Хилленберг.
